<div class="container">
  <mat-card>
    <form [formGroup]="form" novalidate>
      <mat-card-title>
        Nouvelle facture
      </mat-card-title>
      <mat-card-subtitle>
        <ng-content></ng-content>
      </mat-card-subtitle>

      <mat-card-content>
        {{form.getRawValue() | json}}
        <div class="bill-content">
          <div class="purchased-offerings">
            <app-purchased-offerings [offerings]="offerings" [resetRequest$]="resetRequest$" [errorAggregator]="errorAggregator" (total)="total = $event"></app-purchased-offerings>
          </div>

          <div class="information">
            <app-information [billsRefDate]="billsRefDate" [errorAggregator]="errorAggregator"></app-information>
          </div>

          <ng-container *ngIf="paymentModes.length === 0;else elseBlock">
            <mat-error>Pour le moment, vous n'avez sélectionné aucun moyen de paiement et vous êtes donc dans l'incapacité de pouvoir
              éditer une facture avec des paiements...</mat-error>
            <mat-error>Sélectionnez vos moyens de paiement depuis votre profil.</mat-error>
          </ng-container>
          <ng-template #elseBlock>
            <div class="payments" *ngIf="amount > 0">
              <app-payments [amount]="amount" [paymentModes]="paymentModes" [errorAggregator]="errorAggregator"></app-payments>
            </div>
          </ng-template>
          
        </div>

      </mat-card-content>

      <ng-container appErrorAggregator></ng-container>
      <mat-card-actions>
        <div class="form-button-container">
          <button type="button" mat-mini-fab (click)="revert()" [disabled]="form.pristine">
            <mat-icon aria-label="Annuler les modification">undo</mat-icon>
          </button>
          <button type="button" mat-mini-fab color="warn" (click)="cancelBillCreation()">
            <mat-icon aria-label="Annuler la création de la facture">close</mat-icon>
          </button>
          <button type="button" mat-mini-fab color="primary" (click)="save()" [disabled]="form.pristine || form.invalid"><!-- form.pristine || form.invalid -->
            <mat-icon aria-label="Sauvegarder et/ou Clore la Facture">{{isCloseable()?'done':'save'}}</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>

</div>