<div class="container">
  <mat-card>
    <form [formGroup]="form" novalidate>
      <mat-card-title>
        Nouvelle facture
      </mat-card-title>
      <mat-card-subtitle>
        <ng-content></ng-content>
      </mat-card-subtitle>

      <mat-card-content>
        <mat-accordion multi="false">

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Offres souscrites
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngIf="offerings.length === 0;else elseOfferingsBlock">
              <mat-error>Vous devez générer vos offres avant de créer des factures...</mat-error>
              <br>
              <a mat-raised-button color="primary" routerLink="/professional/offerings" routerLinkActive="active">
                <div class="manage-offering">
                  <mat-icon aria-label="Catalogue d'offres">local_offer</mat-icon>
                  <span>Gérer vos offres</span>
                </div>
              </a>
            </ng-container>
            <ng-template #elseOfferingsBlock>
              <app-purchased-offerings [offerings]="offerings" [resetRequest$]="resetRequest$" [errorAggregator]="errorAggregator" (total)="total = $event"></app-purchased-offerings>
            </ng-template>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Détail
              </mat-panel-title>
              <mat-panel-description *ngIf="amount > 0">
                ( Montant : {{amount / 100 | number:'.0-2':'fr'}} EUR )
              </mat-panel-description>
            </mat-expansion-panel-header>
            <app-information [billsRefDate]="billsRefDate" [errorAggregator]="errorAggregator"></app-information>
          </mat-expansion-panel>


          <ng-container *ngIf="paymentModes.length === 0;else elseBlock">
            <mat-error>Pour le moment, vous n'avez sélectionné aucun moyen de paiement et vous êtes donc dans l'incapacité de pouvoir
              éditer une facture avec des paiements...</mat-error>
            <mat-error>Sélectionnez vos moyens de paiement depuis votre profil.</mat-error>
          </ng-container>
          <ng-template #elseBlock>
            <mat-expansion-panel *ngIf="amount > 0">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Paiement
                </mat-panel-title>
              </mat-expansion-panel-header>
              <app-payments [amount]="amount" [paymentModes]="paymentModes" [errorAggregator]="errorAggregator"></app-payments>
            </mat-expansion-panel>
          </ng-template>

        </mat-accordion>

      </mat-card-content>

      <ng-container appErrorAggregator></ng-container>
      <mat-card-actions>
        <div class="form-button-container">
          <button type="button" matTooltip="Annuler les modifications" mat-mini-fab color="accent" (click)="revert()" [disabled]="form.pristine">
            <mat-icon aria-label="Annuler les modifications">undo</mat-icon>
          </button>
          <button type="button" matTooltip="Annuler la création de la facture" mat-mini-fab color="accent" (click)="cancelBillCreation()">
            <mat-icon aria-label="Annuler la création de la facture">close</mat-icon>
          </button>
          <button type="button" matTooltip="Sauvegarder/Clore la facture" mat-mini-fab color="primary" (click)="saveBill()" [disabled]="!isValid()">
            <mat-icon aria-label="Sauvegarder/Clore la facture">{{isCloseable()?'done':'save'}}</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>

</div>