<div class="container">
  <mat-card>
    <form [formGroup]="form" novalidate>
      <mat-card-title>{{pack.name}}</mat-card-title>
      <mat-card-content>
        <mat-form-field class="name">
          <input matInput placeholder="Nom" formControlName="name" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Prix (EUR)" formControlName="price" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Durée (minutes)" formControlName="duration" required>
        </mat-form-field>

        <mat-accordion multi="false">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Activités *
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-businesses [errorAggregator]="errorAggregator"></app-businesses>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Offres incluses dans le forfait
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-pack-content [offerings]="professionalOfferings" [businesses]="businesses" [id]="pack.id"></app-pack-content>
          </mat-expansion-panel>
        </mat-accordion>

      </mat-card-content>

      <ng-container appErrorAggregator></ng-container>
      <mat-card-actions>
        <div class="form-button-container">
          <button type="button" mat-mini-fab (click)="revert()" [disabled]="form.pristine">
            <mat-icon aria-label="Annuler les modification">undo</mat-icon>
          </button>
          <a mat-mini-fab [routerLink]="['../../',{ot: ot}]" routerLinkActive="active">
            <mat-icon aria-label="Retour à la liste des forfaits">list</mat-icon>
          </a>
          <button type="button" mat-mini-fab color="primary" (click)="save()" [disabled]="form.pristine || form.invalid">
            <mat-icon aria-label="Valider la mise à jour">done</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
</div>