// @import '~@angular/material/prebuilt-themes/deeppurple-amber';
@import '~@angular/material/prebuilt-themes/pink-bluegrey';
// mat-sidenav-container must have a 100% height otherwise even if the div .dashboard is 100% height, 
// the sidenav's content is not 100% height !
html, body, mat-sidenav-container {
    margin: 0;
    height: 100%;
    background-color: lightgrey; //TODO : to remove
}