.half-size {
    transform: scale(0.7);
}

.amount {
    max-width: 75px;
}

.states {
    padding: 0px 0px 8px 0px;
}

.payments {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.valid_payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100px;
}

@media all and (max-device-width: 720px) {
    .amount {
        padding-left: 4px;
    }

    .payments {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .payment_mode {
        width: 100px;
    }
}