.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

mat-card {
    margin: 10px; // padding: 10px 5px 10px 5px;
    width: 400px;
}

@media all and (max-device-width: 600px) {
    mat-card {
        width: 100%;
    }
}

.passwords {
    display: flex;
    flex-direction: column;
}