<div class="container">
  <mat-card>
    <form [formGroup]="form" novalidate>
      <mat-card-title>Gestion du mot de passe</mat-card-title>
      <mat-card-subtitle class="subtitle">
        <mat-icon>info_outline</mat-icon>
        <span>Le mot de passe doit contenir un minimum de 10 caractères</span>
      </mat-card-subtitle>
      <mat-card-content>
        <div class="passwords">
          <mat-form-field>
            <input matInput #password maxlength="4069" minlength="10" [type]="hide ? 'password' : 'text'" placeholder="Nouveau mot de passe" formControlName="password" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-hint align="end">{{password.value?.length || 0}}/4096</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Confirmation" formControlName="confirmation" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
        </div>
      </mat-card-content>
      <app-error [control]="form.get('password')" [error]="'required'">
        Le mot de passe doit être renseigné.
      </app-error>
      <app-error [control]="form.get('password')" [error]="'minlength'">
        Le mot de passe doit comporter plus de 10 caractères.
      </app-error>
      <app-error [control]="form.get('password')" [error]="'maxlength'">
        Le mot de passe doit comporter moins de 4096 caractères.
      </app-error>
      <app-error [control]="form.get('password')" [error]="'whiteSpaceForbidden'">
        Le mot de passe ne doit pas contenir de caractères d'espacement.
      </app-error>
      <app-error [control]="form.get('confirmation')" [error]="'required'">
        La confirmation du mot de passe doit être renseignée.
      </app-error>
      <app-error [control]="form" [error]="'passwordMatchValidator'">
        Le mot de passe et sa confirmation doivent correspondre.
      </app-error>
      <mat-card-actions>
        <div class="button-container">
          <button type="button" mat-mini-fab (click)="revert()" [disabled]="form.pristine">
            <mat-icon aria-label="Annuler les modification">undo</mat-icon>
          </button>
          <button type="button" mat-mini-fab (click)="generate()">
            <mat-icon aria-label="Générer automatiquement">settings</mat-icon>
          </button>
          <button type="button" mat-mini-fab color="primary" (click)="save()" [disabled]="form.pristine || form.invalid">
            <mat-icon aria-label="Valider la mise à jour">done</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </form>
    <mat-divider></mat-divider>
    <div class="button-container">
      <ng-content>
        <!-- inject the route action there -->
      </ng-content>
    </div>
  </mat-card>
</div>