<div class="container">
  <mat-card>
    <form [formGroup]="form" novalidate>
      <mat-card-title>Changement de mot de passe</mat-card-title>
      <mat-card-content>
        <div class="passwords">
          <mat-form-field>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Nouveau mot de passe" formControlName="password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Confirmation" formControlName="confirmation">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>