.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

mat-card {
    margin: 10px; // padding: 10px 5px 10px 5px;
    width: 450px;
}

.passwords {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.button-container>* {
    margin: 5px 0px 5px 5px;
}

.subtitle {
    display: flex;
    align-items: center;
}

@media all and (max-device-width: 600px) {
    mat-card {
        width: 100%;
    }

    .subtitle {
        align-items: flex-start;
    }
}