<div class="container">
  <mat-card>
    <form [formGroup]="form" novalidate>
      <mat-card-title>Changement de mot de passe</mat-card-title>
      <mat-card-content>
        <div class="passwords">
          <mat-form-field>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Nouveau mot de passe" formControlName="password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Confirmation" formControlName="confirmation">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="button-container">
          <button type="button" mat-mini-fab (click)="revert()" [disabled]="form.pristine">
            <mat-icon aria-label="Annuler les modification">undo</mat-icon>
          </button>
          <button type="button" mat-mini-fab (click)="save()" [disabled]="form.pristine || form.invalid">
            <mat-icon aria-label="Valider la mise à jour">done</mat-icon>
          </button>
          <button type="button" mat-mini-fab color="primary" (click)="generate()">
            <mat-icon aria-label="Générer automatiquement">autorenew</mat-icon>
          </button>
          <button type="button" routerLink="/professional/profile" mat-mini-fab color="primary">
            <mat-icon aria-label="Annuler et revenir au profil">cancel</mat-icon>
          </button>
        </div>

      </mat-card-actions>
    </form>
  </mat-card>
</div>