<section formGroupName="accountInfo" class="account">
  <mat-form-field>
    <input matInput placeholder="Identifiant" formControlName="uuid">
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="dp" formControlName="registrationDate" placeholder="Date d'inscription">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput #username maxlength="20" placeholder="Nom d'utilisateur" formControlName="username" required>
    <mat-hint align="end">{{username.value?.length || 0}}/20</mat-hint>
  </mat-form-field>
  <ng-container #errorContainer></ng-container>
  <ng-template #errorsTemplate>
    <app-error [control]="form.get('accountInfo').get('username')" [error]="'required'">
      Le nom d'utilisateur doit être renseigné.
    </app-error>
    <app-error [control]="form.get('accountInfo').get('username')" [error]="'whiteSpaceForbidden'">
      Le nom d'utilisateur ne doit pas contenir de caractères d'espacement (espace, tabulation...).
    </app-error>
    <app-error [control]="form.get('accountInfo').get('username')" [error]="'maxlength'">
      Le nom d'utilisateur ne doit pas contenir plus de 20 caractères.
    </app-error>
  </ng-template>
</section>