<div class="pm mat-elevation-z2">
  <div class="info">
    <div class="title-container">
      <app-stripe-payment-method-type [type]="pm.type"></app-stripe-payment-method-type>
      <span class="mat-subheading-2 brand">{{pm.brand}}</span>**** {{pm.last4}}
    </div>

    <p class="exp-date">Date d'expiration: {{pm.exp_month}}/{{pm.exp_year}}</p>

    <div class="three-d-secure">
      <span class="three-d-secure-label">3D Secure</span>
      <mat-icon *ngIf="pm.three_d_secure === true; else three_d_secure_not_supported" color="primary">done_all</mat-icon>
      <ng-template #three_d_secure_not_supported>
        <mat-icon color="warn">close</mat-icon>
      </ng-template>
    </div>

    <p class="pm-id">ID: {{pm.id}}</p>
  </div>

  <div class="action-container">

    <mat-icon *ngIf="pm.is_default; else default" color="accent" class="default-pm">star_border</mat-icon>

    <ng-template #default>
      <button class="default-button" mat-mini-fab color="accent" (click)="defaultAction()">
        <mat-icon aria-label="Choisir comme moyen de paiement par défaut">star_border</mat-icon>
      </button>
      <button class="remove-button" mat-mini-fab color="warn" (click)="detachAction()">
        <mat-icon aria-label="Supprimer le moyen de paiement">remove</mat-icon>
      </button>
    </ng-template>
  </div>

</div>