<div class="source mat-elevation-z2">
  <div class="info">
    <div class="title-container">
      <p class="title mat-title">
        <app-stripe-source-type [stype]="source.type"></app-stripe-source-type>
        <span class="brand">{{source.brand}}</span>****{{source.last4}}
      </p>

    </div>

    <p class="exp-date">Date d'expiration: {{source.exp_month}}/{{source.exp_year}}</p>

    <div class="three-d-secure" *ngIf="source.three_d_secure !== 'not_supported'">
      <span class="three-d-secure-label">3D Secure</span>
      <mat-icon color="primary">done_all</mat-icon>
    </div>

    <p class="source-id">Identifiant: {{source.id}}</p>
  </div>

  <div class="action-container">
    <mat-icon *ngIf="source.is_default; else default" color="accent" class="default-source">star_rate</mat-icon>
    <ng-template #default>
      <button class="default-button" mat-mini-fab color="accent" (click)="defaultAction()">
        <mat-icon aria-label="Choisir comme moyen de paiement par défaut">star_border</mat-icon>
      </button>
      <button class="remove-button" mat-mini-fab color="warn" (click)="detachAction()">
        <mat-icon aria-label="Supprimer le moyen de paiement">remove</mat-icon>
      </button>
    </ng-template>
  </div>

</div>