.source {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 12px;
}

.info {
    flex: 1;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title {
    margin-top: 0;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.brand {
    font-style: italic;
    font-weight: bold;
    margin: 0px 8px;
}

.default-source {
    width: 32px;
    height: 32px;
    font-size: 32px;
}

.exp-date {
    margin-top: 0px;
    margin-bottom: 0px;
}

.three-d-secure {
    display: flex;
    align-items: center;
}

.three-d-secure-label {
    margin-right: 8px;
}

.source-id {
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    font-size: 0.9em;
}

.action-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    width: 40px;
}

.default-button {
    margin-bottom: 4px;
}

.remove-button {
    margin-top: 4px;
}