<div class="source mat-elevation-z2">
  <div class="title-container">
    <p class="title mat-title">
      <app-stripe-source-type [stype]="source.type"></app-stripe-source-type>
      <span class="brand">{{source.brand}}</span>****{{source.last4}}
    </p>
    <mat-icon *ngIf="source.is_default" color="primary" class="default-source">euro_symbol</mat-icon>
  </div>

  <p class="exp-date">Date d'expiration: {{source.exp_month}}/{{source.exp_year}}</p>

  <div class="three-d-secure" *ngIf="source.three_d_secure !== 'not_supported'">
    <span class="three-d-secure-label">3D Secure</span>
    <mat-icon color="primary">done_all</mat-icon>
  </div>
</div>