.source {
    border-radius: 8px;
    padding: 12px;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title {
    margin-top: 0;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.brand {
    font-style: italic;
    font-weight: bold;
    margin: 0px 8px;
}

.default-source {
    width: 32px;
    height: 32px;
    font-size: 32px;
}

.exp-date {
    margin-top: 0px;
    margin-bottom: 0px;
}

.three-d-secure {
    display: flex;
    align-items: center;
}

.three-d-secure-label {
    margin-right: 8px;
}

.action-container {
    display: flex;
    justify-content: flex-end;
}

.action-container>button {
    margin-left: 8px;
}