<div class="container">
  <mat-card>
    <mat-card-title>Référentiel client</mat-card-title>
    <mat-card-subtitle>
      {clients.length, plural, =0 {aucun client} =1 {un client} other {{{clients.length}} clients}}
    </mat-card-subtitle>
    <mat-card-content>
      <div class="list-container  mat-elevation-z2">
        <div class="search-header">
          <mat-form-field>
            <mat-placeholder>
              <i>Recherche</i>
            </mat-placeholder>
            <input matInput (keyup)="applyFilter($event.target.value)">
          </mat-form-field>
        </div>
        <mat-table #table [dataSource]="datasource" matSort>
          <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
            <mat-header-cell *matHeaderCellDef mat-sort-header [class.hide]="column.hide">{{column.headerCellDef}}</mat-header-cell>
            <mat-cell *matCellDef="let element" [class.hide]="column.hide">
              {{column.cellDef(element)}}
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="gotoClientDetails(row.id)">
          </mat-row>
        </mat-table>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="form-button-container">
        <button type="button" mat-mini-fab (click)="refreshClients(true)">
          <mat-icon aria-label="Rafraîchir avec les données du serveur">import_export</mat-icon>
        </button>
        <a mat-mini-fab color="primary" routerLink="./create-client" routerLinkActive="active">
          <mat-icon aria-label="Créer un client">add</mat-icon>
        </a>
      </div>
    </mat-card-actions>
  </mat-card>
</div>