@import '~@angular/material/theming';
@import 'src/app/welcome/slogan/title/comptandye-slogan-title-theme.scss';

@mixin comptandye-slogan-theme($theme) {
  @include comptandye-slogan-title-theme($theme);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .slogan {
    background-color: mat-color($primary);
    color: mat-color($accent, A400);
  }
}