<div class="container">
    <mat-card>
        <mat-card-title>{{customer.subscription.nickname}}</mat-card-title>
        <mat-card-subtitle>
            <p>Identifiant de facturation:
                <b>{{customer.id}}</b>
            </p>
            <app-subscription-amount [customer]="customer"></app-subscription-amount>
            <p>Date de signature du contrat:
                <b>{{customer.created | date:'shortDate':'':'fr'}} </b>
            </p>
            <p>Prochaine échéance: <b>{{customer.subscription.current_period_end | date:'shortDate':'':'fr'}}</b></p>
        </mat-card-subtitle>
        <mat-card-content>
            <div class="action-container">
                <button type="button" mat-raised-button color="primary" routerLink="../invoices" routerLinkActive="active"
                    class="invoice-button">
                    Mes factures
                </button>
                <button type="button" mat-raised-button color="warn" routerLink="../rescind" routerLinkActive="active"
                    class="invoice-button" [disabled]="true">
                    Résiliation
                </button>
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <a mat-button routerLink="../" routerLinkActive="active">
            <mat-icon aria-label="Consulter/Modifier le profil">keyboard_arrow_left</mat-icon>
            Retour au profil
        </a>
    </mat-card>
    <mat-card>
        <mat-card-title>Moyens de paiement</mat-card-title>
        <mat-card-content>
            <app-source-details *ngFor="let source of sources; let i=index;" [source]="source" (default)="setAsDefaultSource($event)"
                (detach)="detachSource($event)"></app-source-details>
        </mat-card-content>
        <mat-card-actions>
            <app-subscription (newSource)="addSource($event)" [amount]="customer.baseAmount">Ajout d'un nouveau moyen
                de
                paiement</app-subscription>
        </mat-card-actions>

    </mat-card>
</div>