.container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
}

mat-card {
    margin: 8px; // padding: 10px 5px 10px 5px;
    flex: 1;
    min-width: 300px;
}

a {
    padding-left: 0px;
}

.action-container {
    display: flex;
}

.invoice-button{
    border-radius: 48px;
    flex: 1;
    margin: 4px;
}

@media all and (max-device-width: 600px) {
    .action-container {
        flex-direction: column;
    }
}
