<app-main-toolbar>
  <div *ngIf="isLoggedIn">
    <button type="button" mat-icon-button color="warm" [disabled]="true">
      <mat-icon aria-label="Configuration">settings</mat-icon>
    </button>
    <button type="button" (click)="logout()" mat-icon-button color="warm">
      <mat-icon aria-label="Déconnexion" matTooltip="Déconnexion">power_settings_new</mat-icon>
    </button>
  </div>
</app-main-toolbar>
<div>
  <p>
    Tableau de bord - Professionnel
  </p>
  <code>
    {{professional|json}}
  </code>
</div>