.dashboard {
    position: fixed;
    top: 64px;
    left: 0px;
    width: 100% !important;
    height: 100% !important;
}

.sidenav {
    // do not need to specify height 100%
    position: fixed;
    top: 64px;
    left: 0px;
}

@media all and (max-device-width: 600px) {
    .dashboard,
    .sidenav {
        top: 56px;
    }
}

.active {
    color: lightcoral;
}