@import '~@angular/material/prebuilt-themes/deeppurple-amber';

.dashboard {
    position: relative;
    top: 64px;
    left: 0px;
    width: 100% !important;
    height: 100% !important; 
}

.sidenav { // do not need to specify height 100%
    position: fixed;
    top: 64px;
    left: 0px;
}

.mat-list-item {
    text-decoration: none;
}

.active {
    background-color: lightcoral;
}

.mat-list-item:hover{
    background-color: magenta;
}

@media all and (max-device-width : 600px) {
    .dashboard, .sidenav {
        top: 56px;
    }
}
