<app-professional-toolbar>
  <button type="button" mat-icon-button color="warm" (click)="sidenav.toggle()">
    <mat-icon aria-label="Configuration">menu</mat-icon>
  </button>
</app-professional-toolbar>
<div class="dashboard">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="push" class="sidenav">
      <nav>
          <mat-nav-list>
            <mat-list-item>
                <button type="button" mat-button routerLink="/register">Inscription</button>
            </mat-list-item>
          </mat-nav-list>
      </nav>
    </mat-sidenav>
    <p>Tableau de bord</p>
    <p>
      <code>{{professional | json}}</code>
    </p>
  </mat-sidenav-container>
</div>