<app-professional-toolbar>
  <button type="button" mat-icon-button color="warm" (click)="sidenav.toggle()">
    <mat-icon aria-label="Menu" matTooltip="Menu">menu</mat-icon>
  </button>
</app-professional-toolbar>
<div class="dashboard">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="push" class="sidenav">
      <mat-nav-list *ngFor="let l of links">
        <!-- fake the default sidenav selection on opening -->
        <!-- <a href="#" style="height: 0px;"></a> -->
        <a mat-list-item routerLink="{{l.url}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{l.name}}</a>
      </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>