.content {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

mat-card>* {
    padding: 5px 0px;
}