<mat-nav-list>

  <a mat-list-item href="#" style="height: 0px;"></a>
  <a mat-list-item (click)="sidenav.close()" href="/">
    <mat-icon matListIcon>home</mat-icon>Accueil
  </a>
  <a mat-list-item routerLink="profile" routerLinkActive="active" (click)="sidenav.close()">
    <mat-icon matListIcon>account_circle</mat-icon>{{email}}
  </a>
  <div *ngFor="let l of links">
    <a mat-list-item routerLink="{{l.url}}" routerLinkActive="active" (click)="sidenav.close()">
      <mat-icon matListIcon>{{l.icon}}</mat-icon>{{l.name}}
    </a>
  </div>
  <a mat-list-item (click)="sidenav.close()" href="/support">
    <mat-icon matListIcon>build</mat-icon>Support
  </a>
</mat-nav-list>
<!-- [routerLinkActiveOptions]="{ exact: true }"  -->