<section formGroupName="address" class="address">
  <mat-form-field>
    <input matInput placeholder="Rue" formControlName="street">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Complément d'adresse (numéro d'appartement...)" formControlName="optional">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Code postal" formControlName="postalCode">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Ville" formControlName="city">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Pays" formControlName="country">
  </mat-form-field>
  <ng-container #errorContainer></ng-container>
  <ng-template #errorsTemplate>
    {{form.get('address').get('postalCode').errors | json}}
    <mat-error *ngIf="form.get('address').get('street').hasError('required')">
      Le nom de la rue doit être renseigné.
    </mat-error>
    <mat-error *ngIf="form.get('address').get('street').hasError('blankStringForbidden')">
      Le nom de la rue ne doit pas contenir que des caractères d'espacement.
    </mat-error>
    <mat-error *ngIf="form.get('address').get('street').hasError('maxlength')">
      Le nom de la rue ne doit pas excéder 100 caractères: il en contient actuellement {{form.get('address').get('street').errors.maxlength.actualLength}}
    </mat-error>
    <mat-error *ngIf="form.get('address').get('optional').hasError('blankStringForbidden')">
      Le complément d'adresse ne doit pas contenir que des caractères d'espacement.
    </mat-error>
    <mat-error *ngIf="form.get('address').get('optional').hasError('maxlength')">
      Le complément d'adresse ne doit pas excéder 100 caractères: il en contient actuellement {{form.get('address').get('optional').errors.maxlength.actualLength}}
    </mat-error>
    <mat-error *ngIf="form.get('address').get('postalCode').hasError('required')">
      Le code postal doit être renseigné.
    </mat-error>
    <mat-error *ngIf="form.get('address').get('postalCode').hasError('whiteSpaceForbidden')">
      Le code postal ne doit pas contenir de caractères d'espacement.
    </mat-error>
    <mat-error *ngIf="form.get('address').get('postalCode').hasError('maxlength') || form.get('address').get('postalCode').hasError('minlength')">
        Le code postal doit contenir 5 caractères.  
    </mat-error>
    <!-- TODO   -->

    <mat-error *ngIf="form.get('address').get('city').hasError('required')">
      Le nom de la ville doit être renseigné.
    </mat-error>
  </ng-template>
</section>