<section formGroupName="address" class="address">
  <mat-form-field>
    <input matInput placeholder="Rue" formControlName="street">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Complément d'adresse (numéro d'appartement...)" formControlName="optional">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Code postal" formControlName="postalCode">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Ville" formControlName="city">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Pays" formControlName="country">
  </mat-form-field>
</section>