<section formGroupName="address" class="address">
  <mat-form-field>
    <input matInput placeholder="Rue" formControlName="street">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Complément d'adresse (numéro d'appartement...)" formControlName="optional">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Code postal" formControlName="postalCode">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Ville" formControlName="city">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Pays" formControlName="country">
  </mat-form-field>
  <ng-container #errorContainer></ng-container>
  <ng-template #errorsTemplate>
    <mat-error *ngIf="form.get('address').get('postalCode').hasError('required')">
      Le code postal doit être renseigné.
    </mat-error>
    <mat-error *ngIf="form.get('address').get('street').hasError('required')">
      Le nom de la rue doit être renseigné.
    </mat-error>
    <mat-error *ngIf="form.get('address').get('city').hasError('required')">
      Le nom de la ville doit être renseigné.
    </mat-error>
    <mat-error *ngIf="form.get('address').get('street').hasError('pattern')">
      Le nom de la rue ne peut être constitué exclusivement de caractères d'espacement.
      {{form.get('address').get('street').errors | json}}
    </mat-error>
  </ng-template>
</section>