<div class="container">
  <mat-card>
    <form [formGroup]="form" novalidate>
      <mat-card-title>
        <div class="title">Facture
          <ng-container *ngIf="bill.paymentDate;else elseBlock">
            <mat-icon color="primary">check</mat-icon>
          </ng-container>
          <ng-template #elseBlock>
            <ng-container>
              <mat-icon color="warn">error_outline</mat-icon>
            </ng-container>
          </ng-template>
        </div>
      </mat-card-title>
      <mat-card-subtitle>
        <p>Référence:
          <b>{{bill.reference}}</b>
        </p>
        <ng-content></ng-content>
        <p>Montant:
          <b>{{bill.amount / 100 | number:'.0-2':'fr'}} {{bill.currency}}</b>
        </p>
        <p>Date d'émission: {{bill.issueDate | date:'medium':'':'fr'}}</p>
      </mat-card-subtitle>

      <mat-card-content>
        <mat-accordion multi="false">

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Offres souscrites
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-fixed-purchased-offerings></app-fixed-purchased-offerings>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Détail
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-information [errorAggregator]="errorAggregator"></app-information>
          </mat-expansion-panel>

          <mat-expansion-panel *ngIf="amount > 0">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Paiement
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngIf="isClosedBill();else elseBlock">
              <app-fixed-payments></app-fixed-payments>
            </ng-container>
            <ng-template #elseBlock>
              <app-payments [amount]="amount" [paymentModes]="paymentModes" [errorAggregator]="errorAggregator"></app-payments>
            </ng-template>
          </mat-expansion-panel>

        </mat-accordion>

      </mat-card-content>
      <ng-container appErrorAggregator></ng-container>
      <mat-card-actions>
        <div class="form-button-container">
          <button type="button" matTooltip="Annuler les modifications" mat-mini-fab color="accent" (click)="revert()" [disabled]="form.pristine">
            <mat-icon aria-label="Annuler les modifications">undo</mat-icon>
          </button>
          <button type="button" matTooltip="Annuler les modifications sur la facture" mat-mini-fab [color]="isClosedBill()?'accent':'warn'"
            (click)="cancelBillCreation()">
            <mat-icon aria-label="Annuler les modifications sur la facture">list</mat-icon>
          </button>
          <button type="button" matTooltip="Sauvegarder/Clore la facture" mat-mini-fab color="primary" (click)="saveBill()" [disabled]="!isValid()">
            <mat-icon aria-label="Sauvegarder/Clore la facture">{{isCloseable()?'done':'save'}}</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>

</div>