.toolbar_title {
    font-family: 'Arapey', serif;
    font-style: italic;
    font-size: 40px;
}

.glue {
    // This fills the remaining space, by using flexbox. 
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
}