<h2 mat-dialog-title>Es-tu vraiment sûr de vouloir résilier ton abonnement à {{title}} ???</h2>
<mat-dialog-content>
  <p class="mat-subheading-2">
    Si tu résilies ton abonnement, <b>n'oublie pas de sauvegarder tes factures et les autres données importantes que tu dois conserver!!!</b></p>
  <p class="mat-subheading-2">Tu en auras certainement besoin plus tard et <mat-error><b>nous ne pourrons plus te les
        fournir après avoir supprimé
        ton compte 😔</b></mat-error>
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true">Oui, je veux résilier mon abonnement 🥺</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Non non, finalement je reste 🥳</button>
</mat-dialog-actions>