<div>
  <h2>Un peu de patience, l'application n'est pas encore en production...</h2>
  <p>Profitez en pour nous suivre sur twitter:</p>
  <p>
    <a href="https://twitter.com/comptandye?lang=fr" class="twitter-follow-button" data-show-count="false">Suivre @@comptandye</a>
    <br/>
    <a href="https://twitter.com/intent/tweet?lang=fr&amp;screen_name=comptandye" class="twitter-mention-button" data-show-count="false">Tweet @comptandye</a>

  </p>
  <p>Vous pouvez d’ores et déjà vous pré-inscrire sur le
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSe7NOWmYCR_KxvT5_eT2C-YMOO8uHVvIQi-CUJwOoaJWBCEVg/viewform?hl=fr">formulaire Google en ligne</a>.
    <br/>
    <em>A noter toutefois qu'en fonction de la configuration de votre navigateur web ou de votre périphérique, certains éléments
      du formulaire peuvent apparaître en anglais.</em>
  </p>

  <p>A très bientôt :-)</p>
  <a routerLink="/login">Connexion</a>
</div>