<div class="container">
  <mat-card class="subscription-card">
    <mat-card-title>Souscription à {{appName}}</mat-card-title>
    <mat-card-subtitle class="subtitle">
      <div>
        <p>En cliquant sur le bouton "Souscrire" d'une offre, tu valides ta souscription à l'offre choisie, confirmes avoir
          pris connaissance et acceptes les 🚧 <a href="/cgu-01092018.pdf" target="_blank">Conditions Générales d'Utilisation</a> 🚧.</p>
        <p>La période de facturation débute dès l'acceptation de ton moyen de paiement et te permet d'utiliser les services
          de {{appName}} pour une durée spécifique à l'offre souscrite.</p>
      </div>
    </mat-card-subtitle>
    <mat-divider></mat-divider>
    <a mat-button routerLink="../" routerLinkActive="active">
      <mat-icon aria-label="Consulter/Modifier le profil">keyboard_arrow_left</mat-icon>
      Retour au profil
    </a>
  </mat-card>
  <div class="offer-container">
    <mat-card class="offer-card">
      <mat-card-title>🚧  Abonnement Mensuel Classique</mat-card-title>
      <mat-card-subtitle class="subtitle">
        <div>Utiliser {{appName}} dès aujourd'hui pour une durée de <span style="font-weight: bold">1 mois renouvelable automatiquement</span>.</div>
      </mat-card-subtitle>
      <mat-card-content>
        <!-- DEBUG -->
        <div style="margin: 12px 12px" *ngIf="source">
            <code >Support 3D SECURE : {{source?.card?.three_d_secure}}</code>
        </div>
        <app-subscription (newSource)="handleNewSource($event)" [amount]="defaultAmount">
            Souscrire pour {{defaultAmount}}&#8364; TTC / mois
        </app-subscription>
      </mat-card-content>
    </mat-card>
  </div>
</div>