.container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.offer-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.subscription-card {
    margin: 8px; 
    padding: 8px 24px 8px 24px;
    flex: 1 100%;
}

.offer-card {
    margin: 8px; // padding: 10px 5px 10px 5px;
    width: 400px;
}

.subtitle {
    display: flex;
    align-items: center;
}

a {
    padding-left: 0px;
}

button {
    border-radius: 48px;
}

@media all and (max-device-width: 600px) {
    mat-card {
        width: 100%;
    }
    .subtitle {
        align-items: flex-start;
    }
}