<app-main-toolbar>
        <div *ngIf="isLoggedIn">
                <button type="button" mat-icon-button color="warm" [disabled]="true">
                        <mat-icon aria-label="Configuration">more_vert</mat-icon>
                </button>
                <button type="button" (click)="logout()" mat-icon-button color="warm">
                        <mat-icon aria-label="Déconnexion" matTooltip="Déconnexion">power_settings_new</mat-icon>
                </button>
        </div>
</app-main-toolbar>
<div class="container">
        <mat-card>
                <p>Welcome {{admin.email}}. Click here to continue on the
                        <a href="{{adminUrl}}">Administration Console (JSF)</a>
                </p>
                <p>
                        <code>{{admin|json}}</code>
                </p>
        </mat-card>
</div>