p {
    margin: 0;
}

.container {
    position: absolute;
    top: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

@media all and (max-device-width : 600px) {
    .container {
        position: relative;
        top: 56px;
        display: flex;
        justify-content: center;
    }
}