.container {
    position: absolute;
    top: 64px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media all and (max-device-width : 600px) {
    .container {
        position: relative;
        top: 56px;
        display: flex;
        flex-direction: column;
    }
}