<mat-chip-list class="mat-chip-list-stacked">
  <mat-chip [color]="billsIsEmpty()?'accent':'primary'" selected="true" [selectable]="false" (click)="showFull = true">
    {bills?.length, plural, =0 {Aucune facture} =1 {1 facture} other {{{bills?.length}} factures}}
  </mat-chip>
  <mat-chip color="warn" *ngIf="unpaid.length > 0" selected="true" [selectable]="false" (click)="showUnpaid = true">
    {unpaid.length, plural, =0 {Aucune impayée} =1 {1 impayée} other {{{unpaid.length}} impayées}}
  </mat-chip>
  <mat-chip color="accent" *ngIf="pending.length > 0" selected="true" [selectable]="false" (click)="showPending = true">
    {pending.length, plural, =0 {Aucune non soldée} =1 {1 non soldée} other {{{pending.length}} non soldées}}
  </mat-chip>
</mat-chip-list>
<div class="list-container" *ngIf="showFull || showUnpaid || showPending">
  <mat-table #table [dataSource]="datasource">
    <ng-container matColumnDef="deliveryDate">
      <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.deliveryDate | date:'shortDate':'':'fr'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef>Montant</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.amount / 100 | number:'.0-2':'fr'}} {{element.currency}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="payment-status">
      <mat-header-cell class="payment-status" *matHeaderCellDef>Statut</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="payment-status">
          <app-payment-status [bill]="element.bill"></app-payment-status>
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [matTooltip]="row.reference" matTooltipPosition="above" (click)="gotoClientBill(row.client.id,row.reference)">
    </mat-row>
  </mat-table>
</div>