<mat-chip-list>
  <mat-chip [color]="billsIsEmpty()?'accent':'primary'" selected="true" [selectable]="false" (click)="showFull =! showFull">
    {bills?.length, plural, =0 {Aucune facture} =1 {1 facture} other {{{bills?.length}} factures}}
  </mat-chip>
  <mat-chip color="warn" *ngIf="unpaid > 0" selected="true" [selectable]="false" (click)="showUnpaid =! showUnpaid">
    {unpaid, plural, =0 {Aucune non soldée} =1 {1 non soldée} other {{{unpaid}} non soldées}}
  </mat-chip>
</mat-chip-list>
<div class="list-container" *ngIf="showFull || showUnpaid">
  <mat-table #table [dataSource]="datasource">
    <ng-container matColumnDef="deliveryDate">
      <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.deliveryDate | date:'shortDate':'':'fr'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef>Montant</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.amount / 100 | number:'.0-2':'fr'}} {{element.currency}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="paymentDate">
      <mat-header-cell class="paymentDate" *matHeaderCellDef>Statut</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div *ngIf="element.paymentDate;else elseBlock" class="paymentDate">
          <mat-icon color="primary">check</mat-icon>
        </div>
        <ng-template #elseBlock>
          <div class="paymentDate">
            <mat-icon color="warn">error_outline</mat-icon>
          </div>
        </ng-template>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [matTooltip]="row.reference" matTooltipPosition="above" (click)="gotoClientBill(row.client.id,row.reference)">
    </mat-row>
  </mat-table>
</div>