<section formGroupName="purchasedOfferings" class="section_container">
  <ng-container #errorContainer></ng-container>
  <div class="list-container mat-elevation-z2">
    <div class="search-header">
      <mat-form-field>
        <mat-placeholder>
          <i>Recherche</i>
        </mat-placeholder>
        <input matInput (keyup)="applyFilter($event.target.value)">
      </mat-form-field>
    </div>
    <mat-table #table [dataSource]="datasource" matSort>
      <ng-container matColumnDef="checked">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="item">
          <mat-icon>check_box</mat-icon>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="item">
          <mat-checkbox [checked]="element.checked" (change)="select($event,element)"></mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="qty">
        <mat-header-cell *matHeaderCellDef>Qté.</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field *ngIf="element.checked" class="qty">
            <input type="number" name="qty" matInput min="1" [(ngModel)]="element.qty" [ngModelOptions]="{standalone: true}" (change)="computePurchasedOfferingsValue()"
              required>
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="name">Desc.</mat-header-cell>
        <mat-cell *matCellDef="let element" class="name">{{element.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="item">Prix {{vatInclusive.value?'TTC':'HT'}} (EUR)</mat-header-cell>
        <mat-cell *matCellDef="let element" class="item">{{displayOfferingModelPrice(element) / 100}}</mat-cell>
      </ng-container>
      <!-- Will be removed if vat is not applied -->
      <ng-container matColumnDef="vatrate">
        <mat-header-cell *matHeaderCellDef>TVA (%)</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field class="vat">
            <mat-select [(value)]="element.vatRate" (selectionChange)="computePurchasedOfferingsValue()">
              <mat-option *ngFor="let rate of rates" [value]="rate">
                {{ rate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="businesses">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="hide">Activités</mat-header-cell>
        <mat-cell *matCellDef="let element" class="hide">{{element.businesses}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  </div>
  <ng-template #errorsTemplate>
    <app-error [control]="purchasedOfferingsContent" [error]="'required'">
      Au moins une offre doit être sélectionnée.
    </app-error>
    <app-error [control]="purchasedOfferingsContent" [error]="'validPurchasedOfferings'">
      <div *ngFor="let o of purchasedOfferingsContent.errors?.validPurchasedOfferings?.value">
        Les quantités souscrites de l'offre "{{o}}" sont incorrectes.
      </div>
    </app-error>
  </ng-template>
</section>