<section formGroupName="content">
    <div class="list-container">
        <div class="search-header">
            <mat-form-field>
                <mat-placeholder>
                    <i>Recherche</i>
                </mat-placeholder>
                <input matInput (keyup)="applyFilter($event.target.value)">
            </mat-form-field>
        </div>
        <mat-table #table [dataSource]="datasource" matSort>
            <ng-container matColumnDef="checked">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <mat-icon>check_box</mat-icon>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-checkbox [checked]="element.checked" (change)="select($event,element)"></mat-checkbox>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header [class.hide]="true">#</mat-header-cell>
                <mat-cell *matCellDef="let element" [class.hide]="true">{{element.id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="name">Nom</mat-header-cell>
                <mat-cell *matCellDef="let element" class="name">{{element.name}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="price">Prix (EUR)</mat-header-cell>
                <mat-cell *matCellDef="let element" class="price">{{element.price / 100}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="duration">
                <mat-header-cell *matHeaderCellDef mat-sort-header [class.hide]="true">Durée (min)</mat-header-cell>
                <mat-cell *matCellDef="let element" [class.hide]="true">{{element.duration}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="businesses">
                <mat-header-cell *matHeaderCellDef mat-sort-header [class.hide]="true">Activités</mat-header-cell>
                <mat-cell *matCellDef="let element" [class.hide]="true">{{element.businesses}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
    </div>
</section>