.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

mat-card {
    margin: 10px; // padding: 10px 5px 10px 5px;
    width: 100%;
}

.form-button-container {
    display: flex;
    justify-content: flex-end;
}

.form-button-container>* {
    margin: 5px;
}

.mat-radio-button{
    padding: 0px 16px 16px 0px;
}

.top-button-container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
}

@media all and (max-device-width: 600px) {
    .top-button-container {
        flex-flow: column;
        align-content: stretch;
    }
}
