<div class="container">
  <mat-card>
    <mat-card-title>Catalogue d'offres</mat-card-title>
    <mat-card-subtitle>
      {services.length, plural, =0 {aucune Prestation} =1 {1 Prestation} other {{{services.length}} Prestations}} - {packs.length,
      plural, =0 {aucun Forfait} =1 {1 Forfait} other {{{packs.length}} Forfaits}}
    </mat-card-subtitle>
    <mat-card-content>
      <mat-radio-group [(ngModel)]="selectedOfferingType">
        <mat-radio-button [value]="offeringType.SERVICE">Prestation</mat-radio-button>
        <mat-radio-button [value]="offeringType.PACK">Forfait</mat-radio-button>
      </mat-radio-group>
      <div [ngSwitch]="selectedOfferingType">
        <ng-container *ngSwitchCase="offeringType.SERVICE">
          <app-services-component *ngIf="services.length > 0;else elseBlockSERVICE" [offerings]="services"></app-services-component>
          <ng-template #elseBlockSERVICE>
            <div class=top-button-container>
              <button type="button" mat-raised-button color="primary" (click)="buildModelOfferings()">
                Création Automatique d'Offres
              </button>
              <a mat-raised-button color="primary" [routerLink]="['./create-'+selectedOfferingType]" routerLinkActive="active">
                Nouvelle Prestation
              </a>
            </div>
          </ng-template>
        </ng-container>
        <ng-container *ngSwitchCase="offeringType.PACK">
          <app-packs-component *ngIf="packs.length > 0;else elseBlockPACK" [offerings]="packs"></app-packs-component>
          <ng-template #elseBlockPACK>
            <div class=top-button-container>
              <button type="button" mat-raised-button color="primary" (click)="buildModelOfferings()">
                Création Automatique d'Offres
              </button>
              <a mat-raised-button color="primary" [routerLink]="['./create-'+selectedOfferingType]" routerLinkActive="active">
                Nouveau Forfait
              </a>
            </div>
          </ng-template>
        </ng-container>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="form-button-container">
        <button type="button" mat-mini-fab (click)="refreshOfferings()">
          <mat-icon aria-label="Rafraîchir avec les données du serveur">refresh</mat-icon>
        </button>
        <a mat-mini-fab color="primary" [routerLink]="['./create-'+selectedOfferingType]" routerLinkActive="active">
          <mat-icon aria-label="Créer une offre">add</mat-icon>
        </a>
      </div>
    </mat-card-actions>
  </mat-card>
</div>