<div class="container">
  <mat-card>
    <mat-card-title>Catalogue d'offres</mat-card-title>
    <mat-card-subtitle>
      {services.length, plural, =0 {aucun Service} =1 {1 Service} other {{{services.length}} Services}} - {packs.length, plural,
      =0 {aucun Forfait} =1 {1 Forfait} other {{{packs.length}} Forfaits}}
    </mat-card-subtitle>
    <mat-card-content>
      <mat-radio-group [(ngModel)]="selectedOfferingType">
        <mat-radio-button [value]="offeringType.SERVICE">Service</mat-radio-button>
        <mat-radio-button [value]="offeringType.PACK">Forfait</mat-radio-button>
      </mat-radio-group>
      <div [ngSwitch]="selectedOfferingType">
        <p *ngSwitchCase="offeringType.SERVICE">Ce sont des services que l'on veut voir</p>
        <p *ngSwitchCase="offeringType.PACK">Ce sont des forfaits que l'on veut voir</p>
        <app-page-not-found *ngSwitchDefault></app-page-not-found>
      </div>
    </mat-card-content>
  </mat-card>
</div>