<div class="login-card">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Comptandye</mat-card-title>
      <mat-card-subtitle>Une identification est requise pour pouvoir utiliser Comptandye</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="login()" #loginForm="ngForm">
        <span *ngIf="message">{{message}}</span>
        <div class="login-card">
            <mat-form-field>
                <input matInput placeholder="Email" [(ngModel)]="username" name="username" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Mot de passe" [(ngModel)]="password" name="password" required>
              </mat-form-field>
        </div>
        <mat-card-actions>
          <div class="login-actions">
            <button type="submit" mat-button>Identification</button>
            <button mat-button>
              <a routerLink="/register">Ouvrir un nouveau compte</a>
            </button>
          </div>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>