.toolbar_title {
    font-family: 'Arapey', serif;
    font-style: italic;
    font-size: 40px;
}

.glue {
    // This fills the remaining space, by using flexbox. 
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%  !important;
}

.toolbar_row {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
  
.container {
    position: absolute;
    top: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

@media all and (max-device-width : 600px) {
    .container {
        position: relative;
        top: 56px;
        display: flex;
        justify-content: center;
    }
}

.login-card {
    width: 250px;
    margin-top: 20px;
}

.login-items {
    display: flex;
    flex-flow: row wrap;
}

.login-items > * {
    flex: 1 100%;
}

.login-actions {
    display: flex;
    flex-direction: column;
}


