<h1>
  Bienvenue sur la page d'authentification de comptandye
</h1>
<div>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div>
      <span *ngIf="errmsg">{{errmsg}}</span>
    </div>
    <table role="presentation">
      <tr>
        <td>Utilisateur: </td>
        <td>
          <input type="text" id="username" required [(ngModel)]="username" name="username">
        </td>
      </tr>
      <tr>
        <td>Mot de passe: </td>
        <td>
          <input type="password" id="password" required [(ngModel)]="password" name="password">
        </td>
      </tr>
    </table>
    <button type="submit" [disabled]="!loginForm.form.valid">Se connecter</button>
  </form>
</div>