.login-card{
    width: 400px;
    margin-bottom: 8px;
}

.login-items
{
    display: flex;
    flex-flow: row wrap;
}

.login-items > * {
    flex: 1 100%;
}

.login-actions {
    display: flex;
    flex-direction: column;
}
