<app-main-toolbar></app-main-toolbar>
<div class="container">
  <mat-card class="login-card">
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
        <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <div class="login-items">
          <mat-form-field [hideRequiredMarker]="true">
            <input matInput type="email" autocomplete="off" placeholder="Email" name="username" [(ngModel)]="username" required>
          </mat-form-field>
          <mat-form-field [hideRequiredMarker]="true">
            <input matInput [type]="hide ? 'password' : 'text'" autocomplete="off" placeholder="Mot de passe" name="password" [(ngModel)]="password"
              required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
          <mat-error *ngIf="message">{{message}}</mat-error>
        </div>
        <mat-checkbox [(ngModel)]="rememberMe" name="rememberMe" style="font-size: 0.9em">Conserver mes identifiants</mat-checkbox>
      </mat-card-content>
      <mat-card-actions>
        <div class="login-actions">
          <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.form.valid || !username || !password">Identification</button>
          <button type="button" mat-button routerLink="/register">Inscription</button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
</div>