.login-card{
    display: flex;
    flex-flow: row wrap;
    width: 400px;
    margin-bottom: 8px;
}

.login-card > * {
    flex: 1 100%;
  }

.login-actions {
    display: flex;
    flex-direction: column;
}
