<div class="container">
  <mat-card class="login-card">
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
        <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="login-items">
          <mat-form-field [hideRequiredMarker]="true">
            <input matInput type="email" autocomplete="on" placeholder="Email" name="username" [(ngModel)]="username"
              required>
          </mat-form-field>
          <mat-form-field [hideRequiredMarker]="true">
            <input matInput [type]="hide ? 'password' : 'text'" autocomplete="on" placeholder="Mot de passe"
              name="password" [(ngModel)]="password" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
          <mat-error *ngIf="errors.blocked">Identification impossible : votre compte à été bloqué 🚫</mat-error>
          <mat-error *ngIf="errors.unauthorized">Identification incorrecte : vérifiez vos identifiants ou votre connexion
            internet 🤔</mat-error>
        </div>
        <mat-checkbox [(ngModel)]="rmbme" name="rmbme" style="font-size: 0.9em">Rester connecté</mat-checkbox>
      </mat-card-content>
      <mat-card-actions>
        <div class="login-actions">
          <button type="submit" class="button" mat-raised-button color="primary"
            [disabled]="!loginForm.form.valid || !username || !password">Se connecter</button>
          <button type="button" class="button" mat-button routerLink="/sign-up">S'inscrire</button>
          <!-- <button type="button" class="button" mat-button routerLink="/welcome">Accueil</button> -->
          <!-- <a href="/" class="button" type="button" mat-button>Accueil</a> -->
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
</div>