<div class="container">
    <mat-card>
        <mat-card-title>{{customer.subscription.nickname}}</mat-card-title>
        <mat-card-subtitle>
            <p>Identifiant de facturation:
                <b>{{customer.id}}</b>
            </p>
            <app-subscription-amount [customer]="customer"></app-subscription-amount>
            <p>Date de signature du contrat:
                <b>{{customer.created | date:'shortDate':'':'fr'}}</b>
            </p>
            <app-subscription-status [subscription]="customer.subscription"></app-subscription-status>
        </mat-card-subtitle>
        <mat-card-content>
            <div class="action-container">
                <button type="button" mat-raised-button color="primary" routerLink="../invoices"
                    routerLinkActive="active">
                    Mes factures
                </button>
                <button *ngIf="!isRescinded; else reactivateBlock" type="button" mat-raised-button color="warn"
                    (click)="rescind()">
                    Résiliation
                </button>
                <ng-template #reactivateBlock>
                    <button type="button" mat-raised-button color="accent" (click)="reactivate()">
                        Réactivation
                    </button>
                </ng-template>
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <a mat-button routerLink="../" routerLinkActive="active">
            <mat-icon aria-label="Consulter/Modifier le profil">keyboard_arrow_left</mat-icon>
            Retour au profil
        </a>
    </mat-card>
    <mat-card>
        <mat-card-title>Moyens de paiement</mat-card-title>
        <mat-card-content>
            <app-payment-method-details *ngFor="let pm of paymentMethods; let i=index;" [pm]="pm"
                (default)="setAsDefaultPaymentMethod($event)" (detach)="detachPaymentMethod($event)">
            </app-payment-method-details>
        </mat-card-content>
        <mat-card-actions>
            <app-card-info-wrapper (newStripeSetupIntent)="addPaymentMethod($event)" [amount]="customer.baseAmount" [isFirst]="false">
                Ajouter une carte
            </app-card-info-wrapper>
        </mat-card-actions>

    </mat-card>
</div>