<section formGroupName="information">
  <h2 class="mat-title">Détail</h2>
  <mat-form-field>
    <input type="number" matInput placeholder="Montant (EUR)" formControlName="amount">
  </mat-form-field>
  <mat-form-field>
    <input type="number" matInput placeholder="Réduction (EUR)" formControlName="discount" min="0">
  </mat-form-field>
  <div formGroupName="dates">
    <mat-form-field>
      <input matInput [matDatepicker]="dp1" [min]="minDate" [max]="maxDate" formControlName="deliveryDate" placeholder="Date de réalisation">
      <mat-hint *ngIf="billsRefDate" align="end">Date Limite : {{billsRefDate | date:'shortDate':'':'fr'}}</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
      <mat-datepicker #dp1></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="dp2" [min]="minDate" [max]="maxDate" formControlName="paymentDate" placeholder="Date du solde">
      <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
      <mat-datepicker #dp2></mat-datepicker>
    </mat-form-field>
  </div>
  <app-comments [comments]="comments"></app-comments>
  <ng-container #errorContainer></ng-container>
  <ng-template #errorsTemplate>
    <app-error [control]="form.get('information').get('dates').get('deliveryDate')" [error]="'past'">
      La date de réalisation ne peut être une date dans le futur.
    </app-error>
    <app-error [control]="form.get('information').get('dates').get('deliveryDate')" [error]="'required'">
      La date de réalisation doit être renseignée.
    </app-error>
    <app-error [control]="form.get('information').get('dates').get('paymentDate')" [error]="'past'">
      La date du solde ne peut être une date dans le futur.
    </app-error>
    <app-error [control]="form.get('information').get('dates')" [error]="'validBillDates'">
      La date de réalisation ne peut être antérieure à la date limite de facturation ({{billsRefDate | date:'shortDate':'':'fr'}}).
    </app-error>
    <app-error [control]="form.get('information').get('dates')" [error]="'validDeliveryPaymentDates'">
      La date du solde ne peut être antérieure à la date de réalisation.
    </app-error>
    <app-error [control]="form.get('information').get('discount')" [error]="'min'">
      Le montant de la réduction ne peut correspondre à une valeur négative.
    </app-error>
    <ng-container *ngFor="let comment of comments.controls; let i=index">
      <app-error [control]="comment" [error]="'required'">
        Le commentaire #{{i+1}} doit être renseigné.
      </app-error>
      <app-error [control]="comment" [error]="'blankStringForbidden'">
        Le commentaire #{{i+1}} ne doit pas contenir que des caractères d'espacement ou commencer par un caractère d'espacement.
      </app-error>
      <app-error [control]="comment" [error]="'maxlength'">
        Le commentaire #{{i+1}} ne doit pas excéder 200 caractères.
      </app-error>
    </ng-container>
  </ng-template>
</section>