<section formGroupName="payments">
  <h2 class="mat-title">Paiement</h2>
  <mat-chip-list>
    <mat-chip *ngIf="remaining > 0" [color]="'accent'" selected="true" [selectable]="false" (click)="newPayment()">
      <span class="mat-body-2">Reste à régler : {{remaining/100}} EUR</span>
    </mat-chip>
    <mat-chip *ngIf="remaining < 0" [color]="'warn'" selected="true" [selectable]="false">
      <span class="mat-body-2">Crédit : {{-remaining/100}} EUR</span>
    </mat-chip>
  </mat-chip-list>
  <div *ngFor="let payment of payments">
    <mat-form-field>
      <mat-select placeholder="Moyen de paiement">
        <mat-option *ngFor="let pm of paymentModes" [value]="pm">
          {{ pm.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input name="amount" type="number" matInput min="0" [(ngModel)]="payment.qty" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </div>
  <ng-container #errorContainer></ng-container>
  <ng-template #errorsTemplate>
    <app-error [control]="paymentsContent" [error]="'validPayments'">
      Le total des paiments est supérieur au montant de la facture.
    </app-error>
  </ng-template>
</section>