<section formGroupName="payments">
  <div class="states">
    <ng-container [ngSwitch]="remainingState">
      <ng-template [ngSwitchCase]="'low'">
        <mat-chip-list>
          <mat-chip [color]="'accent'" selected="true" [selectable]="false" (click)="newPayment()">
            <span class="mat-body-2">Reste à régler : {{remaining}} EUR</span>
          </mat-chip>
        </mat-chip-list>
      </ng-template>
      <ng-template [ngSwitchCase]="'high'">
        <mat-chip-list>
          <mat-chip [color]="'warn'" selected="true" [selectable]="false">
            <span class="mat-body-2">Excédent : {{-remaining}} EUR</span>
          </mat-chip>
        </mat-chip-list>
      </ng-template>
      <ng-template ngSwitchDefault>
        <mat-chip-list>
          <mat-chip [color]="'primary'" selected="true" [selectable]="false">
              <div class="valid_payment">
                  <span>Confirmé</span>
                  <mat-icon>check_circle</mat-icon>
                </div>
          </mat-chip>
        </mat-chip-list>
      </ng-template>
    </ng-container>
  </div>
  <div class="payments" *ngFor="let payment of payments; let i=index;">
    <mat-form-field>
      <mat-select placeholder="Moyen de paiement" [(value)]="payment.paymentMode" [compareWith]="comparePaymentModes">
        <mat-option *ngFor="let pm of paymentModes" [value]="pm">
          {{ pm.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="amount">
      <input name="amount" type="number" matInput min="0" [(ngModel)]="payment.amount" [ngModelOptions]="{standalone: true}" (change)="checkPayments()">
    </mat-form-field>
    <button type="button" mat-mini-fab color="accent" (click)="removePayment(i)" class="half-size">
      <mat-icon aria-label="Supprimer le paiement">close</mat-icon>
    </button>
  </div>

  <ng-template #errorsTemplate>
    <app-error [control]="paymentsContent" [error]="'validPayments'">
      Le total des paiements est supérieur au montant de la facture.
    </app-error>
  </ng-template>
</section>