.half-size {
    transform: scale(0.7);
}

.amount{
    max-width: 50px;
}

.states {
    padding: 0px 0px 8px 0px;
}

.payments {
    width: auto;
}

.valid_payment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100px;
}

@media all and (max-device-width: 720px) {
    .amount{
        max-width: 30px;
        padding-left: 4px;
    }

    .payments{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}