<section formGroupName="customerDetails" class="customer-details">
  <mat-form-field>
    <input matInput placeholder="Nom" formControlName="lastName" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Prénom" formControlName="firstName" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Surnom" formControlName="nickname">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Téléphone" formControlName="phone" required>
    <mat-icon matSuffix>phone</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="dp" formControlName="birthdate" placeholder="Date de naissance">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
  </mat-form-field>
  <section class="genre">
    <label for="sex">Genre:</label>
    <mat-radio-group name="sex" id="sex" formControlName="sex">
      <mat-radio-button value="M">Homme</mat-radio-button>
      <mat-radio-button value="F">Femme</mat-radio-button>
    </mat-radio-group>
  </section>
  <mat-form-field>
    <input matInput placeholder="Photo de profil" formControlName="picturePath">
  </mat-form-field>
  <div formArrayName="comments">
    <div class="comments-button">
      <span>Commentaires:</span>
      <span class="fill-space"></span>
      <button type="button" mat-mini-fab color="primary" (click)="newComment()" class="half-size">
        <mat-icon aria-label="Ajouter">comment</mat-icon>
      </button>
      <button type="button" mat-mini-fab color="primary" (click)="removeAllComments()" class="half-size">
        <mat-icon aria-label="Supprimer">delete</mat-icon>
      </button>
    </div>
    <div *ngFor="let comment of comments.controls; let i=index">
      <mat-form-field class="full-width">
        <input matInput placeholder="#{{i+1}}" formControlName="{{i}}">
        <mat-icon *ngIf="isLastComment(i)" (click)="newComment()" matSuffix>add_circle_outline</mat-icon>
        <mat-icon (click)="removeComment(i)" matSuffix>remove_circle_outline</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <ng-container #errorContainer></ng-container>
  <ng-template #errorsTemplate>
    <mat-error *ngIf="form.get('customerDetails').get('firstName').hasError('required')">
      Le prénom doit être renseigné.
    </mat-error>
    <mat-error *ngIf="form.get('customerDetails').get('firstName').hasError('blankStringForbidden')">
      Le prénom ne doit pas contenir que des caractères d'espacement ou commencer par un caractère d'espacement.
    </mat-error>
    <mat-error *ngIf="form.get('customerDetails').get('firstName').hasError('maxlength')">
      Le prénom ne doit pas excéder 50 caractères: il en contient actuellement {{form.get('customerDetails').get('firstName').errors.maxlength.actualLength}}.
    </mat-error>
    <mat-error *ngIf="form.get('customerDetails').get('lastName').hasError('required')">
      Le nom doit être renseigné.
    </mat-error>
    <mat-error *ngIf="form.get('customerDetails').get('lastName').hasError('blankStringForbidden')">
      Le nom ne doit pas contenir que des caractères d'espacement ou commencer par un caractère d'espacement.
    </mat-error>
    <mat-error *ngIf="form.get('customerDetails').get('lastName').hasError('maxlength')">
      Le nom ne doit pas excéder 50 caractères: il en contient actuellement {{form.get('customerDetails').get('lastName').errors.maxlength.actualLength}}.
    </mat-error>
    <mat-error *ngIf="form.get('customerDetails').get('nickname').hasError('blankStringForbidden')">
      Le surnom ne doit pas contenir que des caractères d'espacement ou commencer par un caractère d'espacement.
    </mat-error>
    <mat-error *ngIf="form.get('customerDetails').get('nickname').hasError('maxlength')">
      Le surnom ne doit pas excéder 50 caractères: il en contient actuellement {{form.get('customerDetails').get('nickname').errors.maxlength.actualLength}}.
    </mat-error>
    <mat-error *ngIf="form.get('customerDetails').get('phone').hasError('required')">
      Le numéro de téléphone doit être renseigné.
    </mat-error>
    <mat-error *ngIf="form.get('customerDetails').get('phone').hasError('phoneNumber')">
      Le numéro de téléphone doit être dans un format valide (+33153732200, 0153732200...).
    </mat-error>
    <mat-error *ngIf="form.get('customerDetails').get('birthdate').hasError('adultOnly')">
      La date de naissance doit correspondre à celle d'un individu de plus de 18 ans.
    </mat-error>
    <mat-error *ngIf="form.get('customerDetails').get('birthdate').hasError('past')">
      La date de naissance ne peut correspondre à une date future.
    </mat-error>
    <ng-container *ngIf="form.get('customerDetails').get('comments').hasError('validComments')">
      <ng-container *ngFor="let comment of comments.controls; let i=index">
        <mat-error *ngIf="comment.hasError('required')">
          Le commentaire #{{i+1}} doit être renseigné.
        </mat-error>
        <mat-error *ngIf="comment.hasError('blankStringForbidden')">
          Le commentaire #{{i+1}} ne doit pas contenir que des caractères d'espacement ou commencer par un caractère d'espacement.
        </mat-error>
        <mat-error *ngIf="comment.hasError('maxlength')">
          Le commentaire #{{i+1}} ne doit pas excéder 200 caractères: il en contient actuellement {{comment.errors.maxlength.actualLength}}.
        </mat-error>
      </ng-container>
    </ng-container>
  </ng-template>
</section>