<section formGroupName="customerDetails" class="customer-details">
  <mat-form-field>
    <input matInput #lastName maxlength="50" placeholder="Nom" formControlName="lastName" required>
    <mat-hint align="end">{{lastName.value?.length || 0}}/50</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input matInput #firstName maxlength="50" placeholder="Prénom" formControlName="firstName" required>
    <mat-hint align="end">{{firstName.value?.length || 0}}/50</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input matInput #nickname maxlength="50" placeholder="Surnom" formControlName="nickname">
    <mat-hint align="end">{{nickname.value?.length || 0}}/50</mat-hint>
  </mat-form-field>

  <mat-form-field class="phone">
    <app-phone formControlName="phone" placeholder="Téléphone" required></app-phone>
    <mat-icon matSuffix>phone</mat-icon>
  </mat-form-field>
  <!-- {{form.value | json}} -->

  <mat-form-field>
    <input matInput [matDatepicker]="dp" formControlName="birthdate" placeholder="Date de naissance">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
  </mat-form-field>
  <section class="genre">
    <label for="sex">Genre:</label>
    <mat-radio-group name="sex" id="sex" formControlName="sex">
      <mat-radio-button value="M">Homme</mat-radio-button>
      <mat-radio-button value="F">Femme</mat-radio-button>
    </mat-radio-group>
  </section>
  <mat-form-field>
    <input matInput placeholder="Photo de profil" formControlName="picturePath">
  </mat-form-field>
  <app-comments [comments]="comments"></app-comments>
  <ng-container #errorContainer></ng-container>
  <ng-template #errorsTemplate>
    <app-error [control]="form.get('customerDetails').get('firstName')" [error]="'required'">
      Le prénom doit être renseigné.
    </app-error>
    <app-error [control]="form.get('customerDetails').get('firstName')" [error]="'blankStringForbidden'">
      Le prénom ne doit pas contenir que des caractères d'espacement ou commencer par un caractère d'espacement.
    </app-error>
    <app-error [control]="form.get('customerDetails').get('firstName')" [error]="'maxlength'">
      Le prénom ne doit pas excéder 50 caractères.
    </app-error>
    <app-error [control]="form.get('customerDetails').get('lastName')" [error]="'required'">
      Le nom doit être renseigné.
    </app-error>
    <app-error [control]="form.get('customerDetails').get('lastName')" [error]="'blankStringForbidden'">
      Le nom ne doit pas contenir que des caractères d'espacement ou commencer par un caractère d'espacement.
    </app-error>
    <app-error [control]="form.get('customerDetails').get('lastName')" [error]="'maxlength'">
      Le nom ne doit pas excéder 50 caractères.
    </app-error>
    <app-error [control]="form.get('customerDetails').get('nickname')" [error]="'blankStringForbidden'">
      Le surnom ne doit pas contenir que des caractères d'espacement ou commencer par un caractère d'espacement.
    </app-error>
    <app-error [control]="form.get('customerDetails').get('nickname')" [error]="'maxlength'">
      Le surnom ne doit pas excéder 50 caractères.
    </app-error>
    <app-error [control]="form.get('customerDetails').get('phone')" [error]="'required'">
      Le numéro de téléphone doit être renseigné.
    </app-error>
    <app-error [control]="form.get('customerDetails').get('phone')" [error]="'phoneNumber'">
      Le numéro de téléphone doit être dans un format valide (ex: +33153732200, 0153732200...).
    </app-error>
    <app-error [control]="form.get('customerDetails').get('birthdate')" [error]="'adultOnly'">
      La date de naissance doit correspondre à celle d'un individu de plus de 18 ans.
    </app-error>
    <app-error [control]="form.get('customerDetails').get('birthdate')" [error]="'past'">
      La date de naissance ne peut correspondre à une date future.
    </app-error>
    <ng-container *ngFor="let comment of comments.controls; let i=index">
      <app-error [control]="comment" [error]="'required'">
        Le commentaire #{{i+1}} doit être renseigné.
      </app-error>
      <app-error [control]="comment" [error]="'blankStringForbidden'">
        Le commentaire #{{i+1}} ne doit pas contenir que des caractères d'espacement ou commencer par un caractère d'espacement.
      </app-error>
      <app-error [control]="comment" [error]="'maxlength'">
        Le commentaire #{{i+1}} ne doit pas excéder 200 caractères.
      </app-error>
    </ng-container>
  </ng-template>
</section>