<section formGroupName="customerDetails" class="customer-details">
  <mat-form-field>
    <input matInput placeholder="Nom" formControlName="lastName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Prénom" formControlName="firstName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Surnom" formControlName="nickname">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Téléphone" formControlName="phone">
    <mat-icon matSuffix>phone</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="dp" formControlName="birthdate" placeholder="Date de naissance">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
  </mat-form-field>
  <span>Genre:</span>
  <mat-radio-group name="genre" formControlName="sex">
    <mat-radio-button value="M">Homme</mat-radio-button>
    <mat-radio-button value="F">Femme</mat-radio-button>
  </mat-radio-group>
  <mat-form-field>
    <input matInput placeholder="Photo de profil" formControlName="picturePath">
  </mat-form-field>
  <div formArrayName="comments">
    <div class="comments-button">
      <span class="fill-space"></span>
      <button mat-mini-fab color="primary" (click)="newComment()" class="half-size">
        <mat-icon aria-label="Ajouter">comment</mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="removeAllComments()" class="half-size">
        <mat-icon aria-label="Supprimer">delete</mat-icon>
      </button>
    </div>
    <div *ngFor="let comment of comments.controls; let i=index">
      <mat-form-field class="full-width">
        <input matInput placeholder="Description / Commentaire #{{i+1}}" formControlName="{{i}}">
        <mat-icon *ngIf="isLastComment(i)" (click)="newComment()" matSuffix>add_circle_outline</mat-icon>
        <mat-icon (click)="removeComment(i)" matSuffix>remove_circle_outline</mat-icon>
      </mat-form-field>
    </div>
  </div>
</section>