<app-login-toolbar></app-login-toolbar>
<div class="container">
  <mat-card class="login-card">
    <form *ngIf="!success; else ok" [formGroup]="form" (ngSubmit)="createAccount()">
      <mat-card-header>
        <mat-card-title>Inscription rapide</mat-card-title>
        <mat-card-subtitle>
          <p>Vous pouvez <strong>créer un compte automatiquement</strong> en renseignant simplement votre
            adresse email.</p>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          <mat-form-field style="width: 100%">
            <input matInput placeholder="email" id="email" type="email" formControlName="email" required>
          </mat-form-field>
          <mat-error *ngIf="signUpError">
            <b>Une erreur est survenue lors de l'inscription.</b> Merci de prendre contact avec le support de kiam en
            envoyant un email à support@kiam.fr
          </mat-error>
          <mat-error *ngIf="signUpConflict">
            <p><b>L'adresse {{getInputEmail()}} est déjà utilisée !</b></p>
            <p>Si vous n'avez pas reçu votre mail de confirmation, merci de prendre contact avec le support de kiam en
              envoyant un email à support@kiam.fr</p>
          </mat-error>
          <div *ngIf="form.invalid && form.dirty && form.touched">
            <mat-error *ngIf="form.get('email').hasError('required')">
              Il est nécessaire de renseigner une adresse email valide...
            </mat-error>
            <mat-error *ngIf="form.get('email').hasError('email') && !form.hasError('required')">
              Merci de renseigner une adresse email valide...
            </mat-error>
            <mat-error *ngIf="form.get('email').hasError('maxlength') && !form.hasError('required')">
              C'est un peu long comme adresse email, non?
            </mat-error>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="login-actions">
          <button type="submit" class="button" mat-raised-button color="primary" [disabled]="!form.valid">Créer un
            compte</button>
          <button type="button" mat-button [routerLink]="['/login']"
            [queryParams]="{'login-required': 'true'}">Retour</button>
        </div>
      </mat-card-actions>
    </form>
    <ng-template #ok>
      <mat-card-title>🥳 Félicitations 🎉</mat-card-title>
      <mat-card-subtitle>
        <p><b>Vous vous êtes inscrit avec l'adresse {{getInputEmail()}} et vous venez certainement de recevoir un email avec votre mot de passe 👌</b></p>
      </mat-card-subtitle>
      <mat-card-content>
        <div *ngIf="success">
          <p><i>Il est important que vous utilisiez <b>les identifiants fournis dans cet email</b> pour pouvoir activer votre compte ✅</i></p>
          <p><i>Consulter rapidement votre boîte de réception, vos spams/indésirables, etc.</i></p>
        </div>
      </mat-card-content>
      <!-- <mat-card-actions>
        <div class="login-actions">
          <button type="button" mat-button [routerLink]="['/login']" [queryParams]="{'login-required': 'true'}">Se
            connecter</button>
        </div>
      </mat-card-actions> -->
    </ng-template>
  </mat-card>
</div>