<app-login-toolbar></app-login-toolbar>
<div class="container">
  <mat-card class="login-card">
    <form *ngIf="!success; else ok" [formGroup]="form" (ngSubmit)="createAccount()">
      <mat-card-title>Inscription</mat-card-title>
      <mat-card-subtitle>Vous pouvez désormais <strong>créer un compte automatiquement</strong> 😊
      </mat-card-subtitle>
      <mat-card-content>
        <div>
          <mat-form-field style="width: 100%">
            <input matInput placeholder="votre adresse email" id="email" type="email" formControlName="email" required>
          </mat-form-field>
          <mat-error *ngIf="signUpError">
            Une erreur est survenue lors de l'inscription. Merci de prendre contact avec le support de kiam en
            envoyant un email à support@kiam.fr
          </mat-error>
          <div *ngIf="form.invalid && form.dirty && form.touched">
            <mat-error *ngIf="form.get('email').hasError('required')">
              Il est nécessaire de renseigner une adresse email...
            </mat-error>
            <mat-error *ngIf="form.get('email').hasError('email') && !form.hasError('required')">
              Merci de renseigner une adresse email valide...
            </mat-error>
            <mat-error *ngIf="form.get('email').hasError('maxlength') && !form.hasError('required')">
              C'est un peu long comme adresse email, non?
            </mat-error>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="login-actions">
          <button type="submit" class="button" mat-raised-button color="primary" [disabled]="!form.valid">Créer un
            compte</button>
          <button type="button" mat-button [routerLink]="['/login']"
            [queryParams]="{'login-required': 'true'}">Retour</button>
        </div>
      </mat-card-actions>
    </form>
    <ng-template #ok>
      <mat-card-title>🥳 Félicitations 🎉</mat-card-title>
      <mat-card-subtitle>Jetez un oeil à vos emails...</mat-card-subtitle>
      <mat-card-content>
        <div *ngIf="success">
          <p><strong>Vous avez certainement déjà reçu vos identifiants</strong> et vous pouvez dès maintenant <strong>profiter
              d'un mois d'utilisation gratuite</strong> 🤗
          </p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="login-actions">
          <button type="button" mat-button [routerLink]="['/login']"
            [queryParams]="{'login-required': 'true'}">Se connecter</button>
        </div>
      </mat-card-actions>
    </ng-template>
  </mat-card>
</div>