@import '~@angular/material/theming';
@import 'src/app/welcome/banner/title/comptandye-banner-title-theme.scss';

@mixin comptandye-banner-theme($theme) {
  @include comptandye-banner-title-theme($theme);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .banner {
    background-color: mat-color($primary);
    color: mat-color($accent, A400);
  }
}