mat-divider {
    position: relative;
    // top: +18px;
    margin: 40px;
}

section {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.cheers {
    margin: 10px;
}

.glue {
    flex: 1;
}