<!-- <app-welcome-toolbar></app-welcome-toolbar> -->
<section>
    <app-banner></app-banner>
    <app-welcome-login></app-welcome-login>
    <mat-divider></mat-divider>
    <mat-card class="cheers">
        <mat-card-title>Bonnes fêtes à tous 😘</mat-card-title>
        <mat-card-content>
            <p>Un grand merci à tous nos utilisateurs et à tous ceux qui nous suivent, nous encouragent, nous
                soutiennent ou tout simplement nous poussent à être meilleurs...</p>
            <p><em><b>We love you all </b></em>🙏</p>
            <p>Merci à <b>Vaness</b> pour sa passion, sa motivation, son
                soutien... et son amour ❤️</p>
            <p><b>Profitez à fond de ces merveilleux moments en famille </b> et à très vite pour découvrir de
                nouvelles surprises 🎉 🥳 </p>
        </mat-card-content>
    </mat-card>
    <div class="glue"></div>

    <app-welcome-footer></app-welcome-footer>
</section>