<section formGroupName="companyInformation" class="company-information">
  <mat-form-field>
    <input matInput placeholder="Site web" formControlName="website">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Dénomination" formControlName="companyName">
  </mat-form-field>
  <section formGroupName="companyCodes" class="company-information">
    <mat-form-field>
      <input matInput placeholder="Identifiant de la société (SIRET)" formControlName="companyID">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Numéro de TVA" formControlName="vatcode">
      <button type="button" mat-button matSuffix mat-icon-button (click)="expectedVatCode()">
        <mat-icon>subdirectory_arrow_left</mat-icon>
      </button>
    </mat-form-field>
  </section>
  <mat-form-field>
    <input matInput [matDatepicker]="dp" formControlName="creationDate" placeholder="Date d'immatriculation">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
  </mat-form-field>
  <ng-container #errorContainer></ng-container>
  <ng-template #errorsTemplate>
    <mat-error *ngIf="form.get('companyInformation').get('website').hasError('blankStringForbidden')">
      L'adresse du site web ne doit pas contenir que des caractères d'espacement ou commencer par un caractère d'espacement.
    </mat-error>
    <mat-error *ngIf="form.get('companyInformation').get('companyName').hasError('required')">
      La dénomination de la société doit être renseignée.
    </mat-error>
    <mat-error *ngIf="form.get('companyInformation').get('companyName').hasError('blankStringForbidden')">
      La dénomination de la société ne doit pas contenir que des caractères d'espacement ou commencer par un caractère d'espacement.
    </mat-error>
    <mat-error *ngIf="form.get('companyInformation').get('companyCodes').get('companyID').hasError('required')">
      L'identifiant de la société doit être renseigné.
    </mat-error>
    <mat-error *ngIf="form.get('companyInformation').get('companyCodes').get('companyID').hasError('validCompanyID')">
      L'identifiant de la société doit être un identifiant (SIRET) valide.
    </mat-error>
    <mat-error *ngIf="form.get('companyInformation').get('companyCodes').get('vatcode').hasError('validVatCode')">
      Le numéro de TVA intracommunautaire renseigné doit être valide.
    </mat-error>
    <mat-error *ngIf="form.get('companyInformation').get('companyCodes').hasError('validVatCodeFromCompanyID')">
      Le numéro de TVA intracommunautaire renseigné ne correspond pas à celui de la société: il devrait correspondre à {{form.get('companyInformation').get('companyCodes').errors.validVatCodeFromCompanyID.expectedVatCode}}.
    </mat-error>
    <mat-error *ngIf="form.get('companyInformation').get('creationDate').hasError('required')">
      La date d'immatriculation de la société doit être renseignée.
    </mat-error>
    <mat-error *ngIf="form.get('companyInformation').get('creationDate').hasError('past')">
      La date d'immatriculation ne peut correspondre à une date future.
    </mat-error>
  </ng-template>
</section>