mat-card {
    margin: 10px; // padding: 10px 5px 10px 5px;
}

.bill-content {
    display: flex;
    flex-flow: wrap;
}

.form-button-container {
    display: flex;
    justify-content: flex-end;
}

.form-button-container>* {
    margin: 5px;
}

.manage-offering{
    display:flex;
    align-content: center;
    align-items: center;
}

@media all and (max-device-width: 600px) {
    .bill-content {
        display: flex;
        flex-flow: column;
    }
}