<!-- TODO -->
<!-- 1: Use BehaviourSubject/Subject and emit the component ID -->
<!-- 2: Output emit + refresh all payment methods with a display flag -->
<div class="container">
    <button *ngIf="!displayCardInfo; else cardInfo" type="button" mat-raised-button color="primary"
        (click)="displayCardInfo = true">
        <ng-content></ng-content>
    </button>
    <ng-template #cardInfo>
        <app-card-info *ngIf="isFirst; else add" (newStripePaymentMethod)="handle($event)"
            [isFirst]="isFirst">
            Valider pour {{amount/100 | number:'.0-2':'fr'}}&#8364; TTC / mois
        </app-card-info>
        <ng-template #add>
            <app-card-info (newStripeSetupIntent)="handle($event)" [isFirst]="isFirst">
                Ajouter
            </app-card-info>
        </ng-template>
    </ng-template>
</div>