<div class="list-container  mat-elevation-z2">
  <div class="search-header">
    <mat-form-field>
      <mat-placeholder>
        <i>Recherche</i>
      </mat-placeholder>
      <input matInput (keyup)="applyFilter($event.target.value)">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="datasource" matSort>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="name">Nom</mat-header-cell>
      <mat-cell *matCellDef="let element" class="name">{{element.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="shortname">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="hide">Abrév.</mat-header-cell>
      <mat-cell *matCellDef="let element" class="hide">{{element.shortname}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="price">Prix (EUR)</mat-header-cell>
      <mat-cell *matCellDef="let element" class="price">{{element.price / 100}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="duration">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="hide">Durée</mat-header-cell>
      <mat-cell *matCellDef="let element" class="hide">{{element.duration}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="businesses">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="hide">Activités</mat-header-cell>
      <mat-cell *matCellDef="let element" class="hide">{{element.businesses}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="gotoService(row.id)">
    </mat-row>
  </mat-table>
</div>