<div class="container">
  <mat-card class="subscription-card">
    <mat-card-title>Souscription à {{appName}}</mat-card-title>
    <mat-card-subtitle class="subtitle">
      <div>
        <p>En cliquant sur le bouton "Souscrire" d'une offre, tu valides ta souscription à l'offre choisie, confirmes
          avoir
          pris connaissance et acceptes les <a
            href="https://firebasestorage.googleapis.com/v0/b/comptandye-4c50d.appspot.com/o/cgvu.pdf?alt=media&token=7516b20d-0872-4eae-b5fb-23b3b8a9360d"
            target="_blank">Conditions Générales de Vente et d'Utilisation</a>.</p>
        <p>La période de facturation débute dès l'acceptation de ton moyen de paiement et te permet d'utiliser les
          services
          de {{appName}} pour une durée spécifique à l'offre souscrite.</p>
      </div>
    </mat-card-subtitle>
    <mat-divider></mat-divider>
    <a mat-button routerLink="../" routerLinkActive="active">
      <mat-icon aria-label="Consulter/Modifier le profil">keyboard_arrow_left</mat-icon>
      Retour au profil
    </a>
  </mat-card>
  <div class="offer-container">
    <mat-card class="offer-card" *ngFor="let pl of plans; let i=index;">
      <mat-card-title class="mat-typography">
        <h2>{{pl.title}}</h2>
      </mat-card-title>
      <mat-card-subtitle class="offer-subtitle">
        <div>Utiliser {{appName}} dès aujourd'hui et bénéficier d'un <span style="font-weight: bold">renouvellement
            automatique {{displayRenewalInterval(pl)}}</span>.</div>
      </mat-card-subtitle>
      <mat-card-content>
        <app-card-info-wrapper (newStripePaymentMethod)="handleNewStripePaymentMethod($event)" [amount]="pl.amount"
          [isFirst]="true">
          Souscrire pour {{pl.amount/100 | number:'.0-2':'fr'}}&#8364; TTC / {{displayRenewalUnit(pl)}}
        </app-card-info-wrapper>
      </mat-card-content>
    </mat-card>
  </div>
</div>