<div class="container">
  <mat-card>
    <mat-card-title>Facturier</mat-card-title>
    <app-revenues-sumup [bills]="bills"></app-revenues-sumup>
    <mat-card-content>
      <div class="selection">
        <mat-accordion *ngIf="!isEmpty()">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Période : {{minDate | date:'shortDate':'':'fr'}} - {{maxDate | date:'shortDate':'':'fr'}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-period-selector [minDate]="minDate" (minDateChange)="updateMinDate($event)" [maxDate]="maxDate" (maxDateChange)="updateMaxDate($event)"
              [minBound]="minBound" [maxBound]="maxBound"></app-period-selector>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Moyens de paiement utilisés
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-payment-mode-selector [paymentModes]="paymentModes" (updatePaymentModeSelection)="updatePaymentModeSelection($event)"></app-payment-mode-selector>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <mat-chip-list class="mat-chip-list-stacked">
        <mat-chip [color]="billsModelIsEmpty()?'accent':'primary'" selected="true" [selectable]="false" (click)="showFull = true">
          {total, plural, =0 {Aucune facture} =1 {1 facture} other {{{total}} factures : {{selectionRevenue / 100 | currency:'EUR':'':'':'fr'}}}}
        </mat-chip>
        <mat-chip *ngFor="let va of vatAmounts" [selectable]="false">
          TVA {{va.rate}} % : {{va.amount / 100 | currency:'EUR':'':'':'fr'}} / base : {{getTaxBase(va) / 100| currency:'EUR':'':'':'fr'}}
        </mat-chip>
        <mat-chip color="warn" *ngIf="unpaid.length > 0" selected="true" [selectable]="false" (click)="showUnpaid = true">
          {unpaid.length, plural, =0 {Aucune impayée} =1 {1 impayée} other {{{unpaid.length}} impayées}} : {{unpaidRevenue / 100 |
          currency:'EUR':'':'':'fr'}}
        </mat-chip>
        <mat-chip color="accent" *ngIf="pending.length > 0" selected="true" [selectable]="false" (click)="showPending = true">
          {pending.length, plural, =0 {Aucune non soldée} =1 {1 non soldée} other {{{pending.length}} non soldées}} : {{pendingRevenue
          / 100 | currency:'EUR':'':'':'fr'}}
        </mat-chip>
      </mat-chip-list>
      <ng-container *ngIf="!billsModelIsEmpty()">
        <app-bills-table [data]="data" (gotobill)="gotoBill($event)"></app-bills-table>
      </ng-container>
    </mat-card-content>
    <mat-card-actions>
      <div class="form-button-container">
        <button type="button" matTooltip="Rafraîchir" mat-mini-fab color="accent" (click)="refreshBills()">
          <mat-icon aria-label="Rafraîchir">refresh</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>