@import '~@angular/material/theming';
@mixin kiam-welcome-footer-theme($theme) {
    $primary: map-get($theme, primary);
    .footer {
        background-color: mat-color($primary);
    }

    .footer > *{
        color: white;
    }
}