<section formGroupName="socialNetworkAccounts" class="social-network-accounts">
  <mat-form-field>
    <input matInput placeholder="Facebook" formControlName="facebook">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Twitter" formControlName="twitter">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Instagram" formControlName="instagram">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Pinterest" formControlName="pinterest">
  </mat-form-field>
</section>