<div class="container">
  <mat-card>
    <mat-card-title>Facturier</mat-card-title>
    <app-revenues-sumup [bills]="bills"></app-revenues-sumup>
    <mat-card-content>
      <div class="selection">
        <mat-accordion *ngIf="!isEmpty()">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Période : {{minDate | date:'shortDate':'':'fr'}} - {{maxDate | date:'shortDate':'':'fr'}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-period-selector [minDate]="minDate" (minDateChange)="updateMinDate($event)" [maxDate]="maxDate" (maxDateChange)="updateMaxDate($event)"
              [minBound]="minBound" [maxBound]="maxBound"></app-period-selector>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Moyens de paiement
              </mat-panel-title>
            </mat-expansion-panel-header>
            {{paymentModes | json}}
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <mat-chip-list class="mat-chip-list-stacked">
        <mat-chip [color]="billsModelIsEmpty()?'accent':'primary'" selected="true" [selectable]="false" (click)="showFull = true">
          {total, plural, =0 {Aucune facture} =1 {1 facture} other {{{total}} factures : {{selectionRevenue / 100 | currency:'EUR':'':'':'fr'}}}}
        </mat-chip>
        <mat-chip color="warn" *ngIf="unpaid.length > 0" selected="true" [selectable]="false" (click)="showUnpaid = true">
          {unpaid.length, plural, =0 {Aucune impayée} =1 {1 impayée} other {{{unpaid.length}} impayées}} : {{unpaidRevenue / 100 | currency:'EUR':'':'':'fr'}}
        </mat-chip>
        <mat-chip color="accent" *ngIf="pending.length > 0" selected="true" [selectable]="false" (click)="showPending = true">
          {pending.length, plural, =0 {Aucune non soldée} =1 {1 non soldée} other {{{pending.length}} non soldées}} : {{pendingRevenue / 100 | currency:'EUR':'':'':'fr'}}
        </mat-chip>
      </mat-chip-list>
      <div *ngIf="!billsModelIsEmpty()" class="list-container">
        <div class="search-header">
          <mat-form-field>
            <mat-placeholder>
              <i>Recherche</i>
            </mat-placeholder>
            <input matInput (keyup)="applyFilter($event.target.value)">
          </mat-form-field>
        </div>
        <mat-table #table [dataSource]="datasource" matSort>
          <ng-container matColumnDef="deliveryDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.deliveryDate | date:'shortDate':'':'fr'}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="reference">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="hide">Référence courte</mat-header-cell>
            <mat-cell *matCellDef="let element" class="hide">{{shrinkRef(element.reference)}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="name">Nom</mat-header-cell>
            <mat-cell *matCellDef="let element" class="name">{{element.name}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="price">Montant</mat-header-cell>
            <mat-cell *matCellDef="let element" class="price">{{element.amount / 100 | number:'.0-2':'fr'}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="paymentStatus">
            <mat-header-cell class="paymentStatus" *matHeaderCellDef>Statut</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div class="paymentStatus">
                <app-payment-status [bill]="element.bill"></app-payment-status>
              </div>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" [matTooltip]="row.reference" matTooltipPosition="above" (click)="gotoBill(row.reference)">
          </mat-row>
        </mat-table>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="form-button-container">
        <button type="button" matTooltip="Rafraîchir" mat-mini-fab color="accent" (click)="refreshBills()">
          <mat-icon aria-label="Rafraîchir">refresh</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>