.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

mat-card {
    margin: 10px; // padding: 10px 5px 10px 5px;
    width: 100%;
}

.selection {
    margin-bottom: 16px;
}

.form-button-container {
    display: flex;
    justify-content: flex-end;
}

.form-button-container>* {
    margin: 5px;
}

