<div class="container">
  <mat-card>
    <mat-card-title>Factures</mat-card-title>
    <mat-card-content>
      <mat-chip-list>
        <mat-chip [color]="billsIsEmpty()?'accent':'primary'" selected="true" [selectable]="false" (click)="showFull =! showFull">
          {bills?.length, plural, =0 {Aucune facture} =1 {1 Facture} other {{{bills?.length}} Factures}}
        </mat-chip>
        <mat-chip color="warn" *ngIf="unpaid > 0" selected="true" [selectable]="false" (click)="showUnpaid =! showUnpaid">
          {unpaid, plural, =0 {Aucun impayé} =1 {1 impayé} other {{{unpaid}} impayés}}
        </mat-chip>
      </mat-chip-list>
      <div class="list-container">
        <div class="search-header">
          <mat-form-field>
            <mat-placeholder>
              <i>Recherche</i>
            </mat-placeholder>
            <input matInput (keyup)="applyFilter($event.target.value)">
          </mat-form-field>
        </div>
        <mat-table #table [dataSource]="datasource" matSort>
          <ng-container matColumnDef="deliveryDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.deliveryDate | date:'shortDate':'':'fr'}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="price">Montant</mat-header-cell>
            <mat-cell *matCellDef="let element" class="price">{{element.amount / 100 | number:'.2':'fr'}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="paymentDate">
            <mat-header-cell class="paymentDate" *matHeaderCellDef mat-sort-header>Statut</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div *ngIf="element.paymentDate;else elseBlock" class="paymentDate">
                <mat-icon color="primary">check</mat-icon>
              </div>
              <ng-template #elseBlock>
                <div class="paymentDate">
                  <mat-icon color="warn">error_outline</mat-icon>
                </div>
              </ng-template>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" [matTooltip]="row.reference" matTooltipPosition="above" (click)="gotoClientBill(row.client.id,row.reference)">
          </mat-row>
        </mat-table>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="form-button-container">
        <button type="button" mat-mini-fab color="primary">
          <!-- (click)="createNewClientBill()" -->
          <mat-icon aria-label="Nouvelle facture">add</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>