<div class="container">
  <mat-card class="login-card">
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
        <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
        <p>Lorem ipsum dolor sit amet, pede a libero aenean phasellus, lectus metus sint ut risus, fusce vel in pellentesque.
          Nisl rutrum etiam morbi consectetuer tempor magna, aenean nullam nunc id, neque vivamus interdum sociis nulla scelerisque
          sem, dolor id wisi turpis magna aliquam magna. Risus accumsan hac eget etiam donec sed, senectus erat mattis quam,
          tempor vel urna occaecat cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
          sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu erat nulla in aenean
          lacinia ullamcorper, urna ante nam et sagittis, tristique vehicula nibh ipsum vivamus, proin proin. Porta commodo
          nibh quis libero amet. Taciti dui, sapien consectetuer.</p>
      </mat-card-header>
      <mat-card-content>
        <div class="login-items">
          <mat-form-field [hideRequiredMarker]="true">
            <input matInput type="email" autocomplete="off" placeholder="Email" name="username" [(ngModel)]="credentials.username" #username="ngModel"
              required>
          </mat-form-field>
          <mat-form-field [hideRequiredMarker]="true">
            <input matInput [type]="hide ? 'password' : 'text'" autocomplete="off" placeholder="Mot de passe" name="password" [(ngModel)]="credentials.password"
              #password="ngModel" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
          <mat-error *ngIf="message">{{message}}</mat-error>
        </div>
        <mat-checkbox [(ngModel)]="rememberMe" name="rememberMe" style="font-size: 0.9em">Conserver mes identifiants</mat-checkbox>
      </mat-card-content>
      <mat-card-actions>
        <div class="login-actions">
          <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.form.valid || !username || !password">Identification</button>
          <button type="button" mat-button routerLink="/register">Inscription</button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
</div>