
@media all and (max-device-width: 720px) {
    .hide {
        display: none;
    }
    .list-container {
        max-height: 300px;
    }
    .mat-header-row,
    .mat-row {
        padding: 0;
    }
}