<div class="container">
  <mat-card>
    <form [formGroup]="form" novalidate>
      <mat-card-title>{{category.name}}</mat-card-title>
      <mat-card-subtitle>
        Code de la catégorie: {{category.id}}
      </mat-card-subtitle>

      <mat-card-content>
        <mat-form-field class="name">
          <input matInput #name maxlength="50" placeholder="Nom" formControlName="name" required>
          <mat-hint align="end">{{name.value?.length || 0}}/50</mat-hint>
        </mat-form-field>
        <app-error [control]="form.get('name')" [error]="'required'">
          Le nom doit être renseigné.
        </app-error>
        <app-error [control]="form.get('name')" [error]="'blankStringForbidden'">
          Le nom ne doit pas contenir que des caractères d'espacement ou commencer par un caractère d'espacement.
        </app-error>
        <app-error [control]="form.get('name')" [error]="'maxlength'">
          Le nom ne doit pas excéder 50 caractères.
        </app-error>

        <mat-form-field class="description">
          <input matInput #description maxlength="150" placeholder="Description" formControlName="description" required>
          <mat-hint align="end">{{description.value?.length || 0}}/150</mat-hint>
        </mat-form-field>
        <app-error [control]="form.get('description')" [error]="'required'">
          La description doit être renseigné.
        </app-error>
        <app-error [control]="form.get('description')" [error]="'blankStringForbidden'">
          La description ne doit pas contenir que des caractères d'espacement ou commencer par un caractère d'espacement.
        </app-error>
        <app-error [control]="form.get('description')" [error]="'maxlength'">
          La description ne doit pas excéder 150 caractères.
        </app-error>

      </mat-card-content>

      <mat-card-actions>
        <div class="form-button-container">
          <button type="button" matTooltip="Annuler les modifications" mat-mini-fab color="accent" (click)="revert()" [disabled]="form.pristine">
            <mat-icon aria-label="Annuler les modifications">undo</mat-icon>
          </button>
          <a mat-mini-fab matTooltip="Annuler les modifications et retourner à la liste" color="accent" routerLink="../" routerLinkActive="active">
            <mat-icon aria-label="Annuler les modifications et retourner à la liste">list</mat-icon>
          </a>
          <button type="button" matTooltip="Sauvegarder la catégorie" mat-mini-fab color="primary" (click)="save()" [disabled]="form.pristine || form.invalid">
            <mat-icon aria-label="Sauvegarder la catégorie">done</mat-icon>
          </button>
          <button type="button" matTooltip="Supprimer la catégorie" mat-mini-fab color="warn" (click)="remove()">
            <mat-icon aria-label="Supprimer la catégorie">delete_forever</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>

  <mat-card>
    <mat-card-title> {categoryClients.length, plural, =0 {Catégorie vide} =1 {1 client} other {{{categoryClients.length}} clients}}</mat-card-title>
    <mat-card-content>
      <app-category-client-list [clients]="clients" [categoryClients]="categoryClients" (add)="addClient($event)" (remove)="removeClient($event)"></app-category-client-list>
    </mat-card-content>
  </mat-card>

</div>