<div class="container">
  <mat-card>
    <form (ngSubmit)="save()" #profileForm="ngForm">
      <mat-card-title>{{pro.email}}</mat-card-title>
      <mat-card-content>
        <h3>Informations relatives à votre compte</h3>
        <section class="account">
          <mat-form-field>
            <input matInput placeholder="Identifiant" value="{{pro.uuid}}" disabled>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Date d'inscription" value="{{pro.registrationDate | date:'full':'':'fr'}}" disabled>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Nom d'utilisateur" value="{{pro.username}}">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Mot de passe chiffré" value="{{pro.password}}">
          </mat-form-field>
        </section>
      </mat-card-content>
    </form>
  </mat-card>
</div>