<div class="container">
  <!-- <pre>{{pro | json}}</pre> -->
  <mat-card>
    <form [formGroup]="form" novalidate>
      <mat-card-title>{{pro.email}}</mat-card-title>

      <mat-card-content>

        <mat-accordion multi="false">

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Informations relatives au compte
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-account-info></app-account-info>
            <mat-error *ngIf="form.get('accountInfo').get('username').hasError('required')">
              Le nom d'utilisateur doit être renseigné.
            </mat-error>
            <mat-error *ngIf="form.get('accountInfo').get('username').hasError('pattern')">
              Le nom d'utilisateur ne doit pas contenir de caractères d'espacement (espace, tabulation...).
            </mat-error>
            <mat-error *ngIf="form.get('accountInfo').get('username').hasError('maxlength')">
              Le nom d'utilisateur ne doit pas contenir plus de 20 caractères.
            </mat-error>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Adresse de l'entreprise
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-address></app-address>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Informations concernant le chef d'entreprise
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-customer-details></app-customer-details>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Activités
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-business></app-business>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Moyens de paiement acceptés
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-payment-mode></app-payment-mode>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Complément d'information
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-company-information></app-company-information>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Réseaux sociaux
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-social-network-accounts></app-social-network-accounts>
          </mat-expansion-panel>

        </mat-accordion>
      </mat-card-content>
      <mat-error *ngIf="form.invalid">Certains champs ne sont pas valides !</mat-error>
      <mat-card-actions>
        <div class="button-container">
          <button type="button" mat-mini-fab (click)="revert()" [disabled]="form.pristine">
            <mat-icon aria-label="Annuler les modification">undo</mat-icon>
          </button>
          <button type="button" mat-mini-fab (click)="refresh()">
            <mat-icon aria-label="Rafraîchir avec les données du serveur">import_export</mat-icon>
          </button>
          <button type="button" mat-mini-fab color="primary" (click)="save()" [disabled]="form.pristine || form.invalid">
            <mat-icon aria-label="Valider la mise à jour">done</mat-icon>
          </button>
        </div>

      </mat-card-actions>

      <mat-divider></mat-divider>

      <button mat-button routerLink="./change-password" routerLinkActive="active">
        <mat-icon>arrow_forward</mat-icon>
        Changement de mot de passe
      </button>
    </form>
  </mat-card>
</div>