.container {
    display: flex;
    width: 100%;
    justify-content: center;
}

h3 {
    background-color: #ffd740;
}

mat-card {
    margin: 10px;
    padding: 10px 5px 10px 5px;
    width: 400px;
}

@media all and (max-device-width: 600px) {
    mat-card {
        width: 100%;
    }
}

.account {
    display: flex;
    flex-direction: column;
}

.full-width {
    width: 100%;
}