mat-card {
    margin: 10px;
    padding: 10px 5px 10px 5px;
}

mat-card > * {
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; 
}

@media all and (max-device-width : 600px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}