<div class="container">
  <mat-card>
    <form [formGroup]="form" novalidate>
      <mat-card-title>{{pro.email}}</mat-card-title>
      
      <div class="top-button-container">
        <a mat-raised-button routerLink="./change-password" routerLinkActive="active">
          Gestion du mot de passe
        </a>
      </div>

      <mat-divider></mat-divider>

      <mat-card-content>

        <mat-accordion multi="false">

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Informations relatives au compte Comptandye
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-account-info [errorAggregator]="errorAggregator"></app-account-info>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Adresse de l'entreprise
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-address [errorAggregator]="errorAggregator"></app-address>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Informations concernant le chef d'entreprise
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-customer-details [errorAggregator]="errorAggregator"></app-customer-details>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Activités de l'entreprise
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-businesses></app-businesses>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Moyens de paiement acceptés
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-payment-modes></app-payment-modes>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Informations complémentaires sur l'entreprise
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-company-information [errorAggregator]="errorAggregator"></app-company-information>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Réseaux sociaux
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-social-network-accounts [errorAggregator]="errorAggregator"></app-social-network-accounts>
          </mat-expansion-panel>

        </mat-accordion>
      </mat-card-content>
      <ng-container appErrorAggregator></ng-container>
      <mat-card-actions>
        <div class="form-button-container">
          <button type="button" mat-mini-fab (click)="revert()" [disabled]="form.pristine">
            <mat-icon aria-label="Annuler les modification">undo</mat-icon>
          </button>
          <button type="button" mat-mini-fab (click)="refresh()">
            <mat-icon aria-label="Rafraîchir avec les données du serveur">refresh</mat-icon>
          </button>
          <button type="button" mat-mini-fab color="primary" (click)="save()" [disabled]="form.pristine || form.invalid">
            <mat-icon aria-label="Valider la mise à jour">done</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
</div>