<div class="container">
  <mat-card>
    <form [formGroup]="form" novalidate>
      <mat-card-title>{{client.customerDetails.firstName}} {{client.customerDetails.lastName}}</mat-card-title>
      <mat-card-subtitle>
        Code client: {{client.id}}
      </mat-card-subtitle>
      <mat-card-content>
        <mat-form-field class="email">
          <input type="email" matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <app-error [control]="form.get('email')" [error]="'email'">
          L'adresse email renseignée doit être valide.
        </app-error>
        <mat-accordion multi="false">

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Informations générales
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-customer-details [errorAggregator]="errorAggregator"></app-customer-details>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Adresse
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-address [errorAggregator]="errorAggregator"></app-address>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Réseaux sociaux
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-social-network-accounts [errorAggregator]="errorAggregator"></app-social-network-accounts>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Catégories
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-categories></app-categories>
          </mat-expansion-panel>

        </mat-accordion>

      </mat-card-content>

      <ng-container appErrorAggregator></ng-container>
      <mat-card-actions>
        <div class="form-button-container">
          <button type="button" matTooltip="Annuler les modifications" mat-mini-fab color="accent" (click)="revert()" [disabled]="form.pristine">
            <mat-icon aria-label="Annuler les modifications">undo</mat-icon>
          </button>
          <a mat-mini-fab matTooltip="Annuler les modifications et retourner au référentiel" color="accent" routerLink="../" routerLinkActive="active">
            <mat-icon aria-label="Annuler les modifications et retourner au référentiel">list</mat-icon>
          </a>
          <button type="button" matTooltip="Sauvegarder la fiche" mat-mini-fab color="primary" (click)="save()" [disabled]="form.pristine || form.invalid">
            <mat-icon aria-label="Sauvegarder la fiche">done</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>

  <mat-card>
    <mat-card-title>Factures</mat-card-title>
    <mat-card-content>
      <app-bills-micro-list [bills]="clientBills" (gotobill)="gotoBill($event)"></app-bills-micro-list>
    </mat-card-content>
    <mat-card-actions>
      <div class="form-button-container">
        <button type="button" matTooltip="Créer une nouvelle facture" mat-mini-fab color="primary" (click)="createNewBill()">
          <mat-icon aria-label="Créer une nouvelle facture">add</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>

</div>